@{
    ViewBag.Title = "Enumerable types";
}

<article class="article">

    <h1>@ViewBag.Title</h1>
    <h2>
        Following enumerable data types are used various places in the reporting API.
        This page lists how to translate these numbers in to text
    </h2>

    <h3>Task Status</h3>
    <ul>
        <li class="icon-arrow_in_circle">Not Started (0)</li>
        <li class="icon-arrow_in_circle">In Progress (1)</li>
        <li class="icon-arrow_in_circle">On Hold (2)</li>
        <li class="icon-arrow_in_circle">Completed (3)</li>
        <li class="icon-arrow_in_circle">Cancelled (4)</li>
    </ul>
    <h3>Invoice Line Unit Type</h3>
    <ul>
        <li class="icon-arrow_in_circle">Undefined (0)</li>
        <li class="icon-arrow_in_circle">Hours (1)</li>
        <li class="icon-arrow_in_circle">Minutes (2)</li>
        <li class="icon-arrow_in_circle">Days (3)</li>
        <li class="icon-arrow_in_circle">Km (4)</li>
        <li class="icon-arrow_in_circle">Pieces (5)</li>
    </ul>
    <h3>Registration Type</h3>
    <ul>
        <li class="icon-arrow_in_circle">Raw Invoiceable (0)</li>
        <li class="icon-arrow_in_circle">Work Unit (2)</li>
        <li class="icon-arrow_in_circle">Disbursement (3)</li>
        <li class="icon-arrow_in_circle">Travel Expense (4)</li>
        <li class="icon-arrow_in_circle">Support Unit (5)</li>
        <li class="icon-arrow_in_circle">Installment (6)</li>
        <li class="icon-arrow_in_circle">Support Contract (7)</li>
        <li class="icon-arrow_in_circle">Rounding (8)</li>
        <li class="icon-arrow_in_circle">Currency Difference (9)</li>
    </ul>
    <h3>Invoice Status</h3>
    <ul>
        <li class="icon-arrow_in_circle">Draft (0)</li>
        <li class="icon-arrow_in_circle">Booked (1)</li>
        <li class="icon-arrow_in_circle">Overdue (2)</li>
        <li class="icon-arrow_in_circle">Payed/Checked (3)</li>
    </ul>
    <h3>Invoice Type</h3>
    <ul>
        <li class="icon-arrow_in_circle">Invoice (1)</li>
        <li class="icon-arrow_in_circle">Credit Note (2)</li>
        <li class="icon-arrow_in_circle">Reminder (3)</li>
        <li class="icon-arrow_in_circle">Voucher (4)</li>
    </ul>
    <h3>Approved Status</h3>
    <ul>
        <li class="icon-arrow_in_circle">Timesheet open (0)</li>
        <li class="icon-arrow_in_circle">Timesheet closed (10)</li>
        <li class="icon-arrow_in_circle">Approved by project manager (20)</li>
        <li class="icon-arrow_in_circle">Approved by department manager (30)</li>
    </ul>

</article>
