
@{
    ViewBag.Title = "Getting Started with the Reporting API";
}

<article class="article">

    <h1>@ViewBag.Title</h1>
    <h2>We are working on completing this section</h2>

</article>
