@model IEnumerable<TimeLog.Api.Documentation.Models.MethodDoc>
@{
    ViewBag.Title = "Reporting API Methods";
}

<article class="article">
    <h1>@ViewBag.Title</h1>
    <h2>This page specifies all the available methods</h2>
    <p>
        The Reporting API is not versioned. New methods and additional fields might be added over time.
        However, method and fields is to a large extend not be removed or modified.
    </p>
    <h3>Endpoint</h3>
    <pre>https://app[x].timelog.com/[account name]/service.asmx</pre>
    <h3>Methods</h3>
    <ul>
        @foreach (var method in Model.Where(m => !m.IsConstructor))
        {
            <li class="icon-arrow_in_circle"><a href="@Url.Action("Method", "Reporting", new { id = method.FullyQuantifiedName.UrlEncode() })">@method.Name</a> - @method.Summary</li>
        }
    </ul>

</article>

