@{
    ViewBag.Title = "Reporting API - Introduction";
}

<article class="article">
    <h1>Introduction to the Reporting API</h1>

    <p>
        The Reporting API is based on standard web technologies, web services and XML.
        Use the Reporting API to extract from TimeLog into intranets, extranets,
        business reporting tools, applications etc.
    </p>
    <p>
        The idea behind the Reporting API is to give access to as much of the TimeLog
        Project data models as possible in a easy to use XML format. The origin of the
        API goes way back in the history of TimeLog, so we will extend on it on
        a per-request basis for new fields and data types. Please get in touch, if you
        think we lack some information in the various methods.
    </p>
    <p>
        Be aware that no security policies on user access will be applied to any of the
        methods in the Reporting API. The Reporting API is for flat data extractions.
        Take care to apply your own policies if you are exposing the data in a data
        warehouse or other business intelligence tools.
    </p>
</article>