@model IEnumerable<TimeLog.Api.Core.Documentation.Models.MethodDoc>
@{
    ViewBag.Title = "Reporting API Methods";
}

<article class="article">
    <h1>@ViewBag.Title</h1>
    <h2>This page specifies all the available methods.</h2>
    <p>
        The Reporting API is not versioned. New methods and additional fields might be added over time.
        However, method and fields will normally not be removed or modified.
    </p>
    <div style="border-left: 10px solid #e84895;
            font-weight: bold;
            padding: 5px 10px;">
            Be aware that we will be blocking HTTP GET usage of the Reporting API shortly due to security concerns. Please use the HTTP POST option.
        </div>
    <h3>Endpoint</h3>
    <pre>https://app[x].timelog.com/[account name]/service.asmx</pre>
    <h3 id="methods"><a href="#methods">Methods</a></h3>
    <ul>
        @foreach (var method in Model.Where(m => !m.IsConstructor))
        {
            <li class="icon-arrow_in_circle"><a href="@Url.Action("Method", "Reporting", new { id = method.FullyQuantifiedName.UrlEncode() })">@method.Name</a> - @method.Summary</li>
        }
    </ul> 
    <h3 id="data-currently-not-available"><a href="#data-currently-not-available">Data currently not available</a></h3>
    <p>
        Unless mentioned in the list above, other data types are currently not available in the reporting API.
        We do receive questions about other data types, and those will naturally be on our radar for future
        development. Specifically, we are aware of the request for the following data objects:
    </p>
    <ul>
        <li class="icon-arrow_in_circle">Approval flow data (incl. weekly time sheet statuses)</li>
        <li class="icon-arrow_in_circle">Contract payments</li>
        <li class="icon-arrow_in_circle">Salary codes</li>
        <li class="icon-arrow_in_circle">Absence codes</li>
        <li class="icon-arrow_in_circle">Expense attachments</li>
    </ul>

</article>

