@{
    ViewBag.Title = "Synchronizing TimeLog Project Data to Microsoft BI";
}

<div class="container" style="max-width: 600px;">
    <div class="row">
        <div class="col-md-12">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>How to</h2>
            <p>
                The website will require you to log in with your Microsoft Azure AD associated account
                in order for the synchronization to work. Additionally, you need to enter your TimeLog
                Project Reporting API credentials.
            </p>
            <p>
                <a class="btn btn-default" href="@Url.Action("Login")">Authenticate with Microsoft Azure AD &raquo;</a>
            </p>
        </div>
        <div class="col-md-6">
            <h2>About</h2>
            <p>
                This project is a proof-of-concept and currently work in progress. TimeLog A/S does not
                support it and everyone is free to fork the code on Github.
            </p>
        </div>
    </div>
</div>