<!DOCTYPE html>
<html lang="en">
<head>
    <title>About TimeLog | How we can help your consulting business evolve</title>
    <meta name="description" content="Learn how the TimeLog team and our software for professional services automation helps you optimise your business processes from time to money. Read more here!" />
    <meta name="author" content="TimeLog" />
    <meta http-equiv="content-language" content="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.min.css?v=9" />
    <link rel="stylesheet" type="text/css" href="/css/styles-extra.css" />
</head>
<body class="body">

@await Html.PartialAsync("_Menu")

<main id="content">
    <div class="section grid-section-single-column">
        <div class="grid-section">
            <div class="theme-background" style="">
                <div class="max-width-wrapper">
                    <div class="grid-row layout one">
                        <div class="grid-area grid-area-12 layout__item ">
                            <div class="grid-rte">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer id="footer" class="footer" style="position: static;">

  <!-- ribbon element begins -->
  <!-- ribbon element ends -->

    <div class="max-width-wrapper" style="margin-top: 40px;">
      <div class="layout two-one eq-height">
        <div class="layout__item">
        </div>

        <div class="layout__item footer__box">
          <div class="box">
            <div>TimeLog A/S</div>
            <div>
              Vesterbrogade 149, bldg. 4, 1
            </div>
            <div>
              1620 Copenhagen
            </div>
            <div>
              <a href="mailto:info@timelog.com">info@timelog.com</a>
            </div>
            <div>
              <a href="tel:+45 70 200 645">+45 70 200 645</a>
            </div>

            <ul class="social-list">
              
              <li><a href="http://www.linkedin.com/company/timelog" class="icon-linked_in" target="_blank" title=""></a></li>
              <li><a href="http://twitter.com/timelog" class="icon-twitter" target="_blank" title=""></a></li>
              <li><a href="https://www.youtube.com/channel/UCjLbuOIIvMPsBWglI0wjlFg/featured" class="icon-youtube" target="_blank" title=""></a></li>
              <li><a href="https://www.facebook.com/TimeLogWorld/" class="icon-facebook" target="_blank" title=""></a></li>
              
            </ul>
          </div>
        </div>

      </div>
    </div>
</footer>
</body>
</html>