@{
    ViewBag.Title = "Introduction to the File Services API";
}

<article class="article">

    <h1>@ViewBag.Title</h1>
    <h2>We are working on completing this section</h2>

    <p>Use the file services API to fetch files automatically that normally only are available for users inside TimeLog Project.</p>
</article>
