@{
    ViewBag.Title = "Introduction to the File Services API";
}

<article class="article">

    <h1>@ViewBag.Title</h1>
    <h2>
        TimeLog Project has various file export features inside the UI and the idea is to 
        make them available via an API.
    </h2>
    <p>
        These file services are proof-of-concept and work in progress APIs. Do not expect
        updates, so you should get in contact with us in order to hear more about additional
        services.
    </p>
    <p>
        Use the file services API to fetch files automatically that normally only are available
        for users inside TimeLog Project.
    </p>
</article>
