@{
    ViewBag.Title = "Invoice Line Export";
}

<article class="article">
    <h1>@ViewBag.Title</h1>
    <h2></h2>
    <p>
        Download the invoice line export file using the specifications below. Notice that fetching the file 
        will execute exactly the same methods as the internal one. Invoice lines will only be exported once
        etc. - this state is shared between the file services and the interface. The export format will be
        CSV and follow the same rules as is setup inside the system administration. 
    </p>
    <h3>
        Endpoint
    </h3>
    <pre>https://app[x].timelog.com/[account name]/api/fileservices/invoicelinesexport.aspx</pre>
    <h3>
        Parameters
    </h3>
    <p>All parameters need to be included as querystrings</p>
    <ul>
        <li class="icon-arrow_in_circle">SiteCode <span class="text-selection">required</span> Reporting API site code, request it in the system administration</li>
        <li class="icon-arrow_in_circle">UserID <span class="text-selection">required</span> Reporting API User ID</li>
        <li class="icon-arrow_in_circle">Password <span class="text-selection">required</span> Reporting API Password</li>
        <li class="icon-arrow_in_circle">Type <span class="text-selection">required</span> Use one of the three options: 1 (Export invoice lines that have not been exported before), 2 (Export invoice lines that have been previously exported), 3 (Re-run previous transaction)</li>
        <li class="icon-arrow_in_circle">PeriodStart - Start date to fetch from (yyyyMMdd), required if type 1 or 2</li>
        <li class="icon-arrow_in_circle">PeriodEnd - Start date to fetch to (yyyyMMdd), required if type 1 or 2</li>
        <li class="icon-arrow_in_circle">TransactionID - ID of the transaction, required if type 3</li>
    </ul>
</article>
