
@{
    ViewBag.Title = "File Services API Methods";
}

<article class="article">

    <h1>@ViewBag.Title</h1>
    <h2>The File Services API is a proof-of-concept and work in progress API</h2>
    <p>The list below shows the available file services endpoints.</p>
    <ul>
        <li class="icon-arrow_in_circle"><a href="@Url.Action("InvoiceLineExport", "FileServices")">Invoice Line Export</a></li>
    </ul>

</article>
