
@{
    ViewBag.Title = "Security";
}

<article class="article">

    <h1>@ViewBag.Title</h1>
    <h2>The File Services API utilize the same security measures as the Reporting API.</h2>
    <p>
        No special setup is required, but if you have enforced SSL for your normal TimeLog site
        then SSL is also required for the File Services endpoints.
    </p>
    <p>
        All requests require SiteCode and Reporting API username and password as part of the
        querystring.
    </p>

</article>
