<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TimeLogProjectUri" value="http://app4.timelog.com/soxdemo4"/>
    <add key="TimeLogProjectReportingSiteCode" value="test"/>
    <add key="TimeLogProjectReportingApiId" value="test"/>
    <add key="TimeLogProjectReportingApiPassword" value="test"/>
    <add key="CsvSeparator" value=","/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
