
@{
    ViewBag.Title = "BjornLunden";
}

<article class="article">


    <h1>Björn Lundén</h1>
    <h2>Introduction</h2>

    <p>
        The integration between TimeLog and Fortnox consists of partial integrations that provide seamless cooperation between the two systems.
        The integration consists of the following features:
        <ul>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Two-way synchronization of customers</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Automatic transfer of customers from TimeLog to Björn Lundén</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Automatic update of customer information in Björn Lundén</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Import of product numbers from Björn Lundén into TimeLog</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Transfer of booked invoices from TimeLog to Björn Lundén</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Automatic update of Björn Lundén Invoice status, invoice no. and invoice amount in TimeLog</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Import of Björn Lundén expenses</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Transfer of TimeLog project number</li>
       
        </ul>
    </p>
    <br />


    <h2>Features</h2>
    <p>This section includes a list of features and limitations to each transfer area of the integration.</p>


    <h3>Currencies</h3>
    <p>TimeLog does not create currencies in Björn Lundén. All currencies used on TimeLog invoices need to be added in the Björn Lundén installation.</p>
    <p>The currency exchange rate is handled by Fortnox.</p>


    <h3>Customers</h3>
    <p>
        Customers are linked when configuring the integration. New customers in TimeLog are transferred and created in Björn Lundén when 
        transferring the first invoice to the new customer.
        Added customers in Björn Lundén is to be imported into TimeLog.
    </p>
    <p>The preferred functionality is setup in the integration.</p>


    <h3>Contact persons</h3>
    <p>Contact persons on the TimeLog invoice is transferred to the Björn Lundén invoice.</p>
 

    <h3>Product numbers</h3>
    <p>Product numbers are imported from Björn Lundén in the integration configuration. Product numbers in 
        Björn Lundén cannot be added, modified or deleted from TimeLog.</p>


    <h3>Employees</h3>
    <p>Contact employees on the TimeLog invoice is transferred to the Björn Lundén invoice.</p>


    <h3>Invoices</h3>
    <p>Only booked invoices can be transferred from TimeLog to Björn Lundén. Invoices are transferred as drafts and changes on the invoice 
        drafts inside Björn Lundén will not be reflected in TimeLog. </p>


    <h3>Invoice lines</h3>
    <p>Invoice lines are transferred along with the invoice and invoice lines can be modified in Björn Lundén. Changes will not be reflected in TimeLog.</p>
    <p>Each transferred invoice line incl. product number, invoice line description, number of units and price per unit. Calculations are handled by Björn 
        Lundén. Unit type is not transferred and is to be setup on the product number in Björn Lundén.</p>
    <p>Björn Lundén can receive TimeLog header lines, empty invoice lines and text lines.</p>


    <h3>Expense import</h3>
    <p>
        TimeLog can import expenses from selected accounts from Björn Lundén. TimeLog will match the account number to the TimeLog expense types if 
        the expense types have a Björn Lundén account number added. If the TimeLog project number is added to the Björn Lundén expense is this used 
        to map the project in TimeLog.
    </p>


    <h3>Projects</h3>
    <p>TimeLog can transfer the project number and name to Björn Lundén and accept product numbers consisting of letters, 
        numbers and special characters (e.g. P19.0007).</p>


    <h3>Project tasks</h3>
    <p>TimeLog project tasks are not transferred.</p>


    <h3>Allocations</h3>
    <p>Allocated employees on tasks are not transferred.</p>


    <h3>Registrations</h3>
    <p>Employee time tracking, mileage and allowance is not transferred</p>


    <br />
    <h2>Mapping</h2>
    <p>This section of the integration documentation include information about which TimeLog fields are transferred to which field in Björn Lundén.</p>


    <h3>Kunder (Customers)</h3>
    <p>Customer information is handled when setting up the integration and/or when new customers are created in TimeLog.</p>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr class="underline">
                    <th>TimeLog</th>
                    <th>Björn Lundén</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Företagsnamn (Company name)</td>
                    <td>Namn</td>
                    <td><span class="wrapcomment">Max 40 char.</span></td>
                </tr>
                <tr>
                    <td>Kundnr. (Customer no)</td>
                    <td>Id</td>
                    <td><span class="wrapcomment">Max 9 char.</span></td>
                </tr>
                <tr>
                    <td>Kundansvarig (Owner)</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Telefon (Phone)</td>
                    <td>Telefon</td>
                    <td><span class="wrapcomment">Max 20 char.</span></td>
                </tr>
                <tr>
                    <td>Fax (Fax)</td>
                    <td>Fax</td>
                    <td><span class="wrapcomment">Max 20 char.</span></td>
                </tr>
                <tr>
                    <td>E-post (Email)</td>
                    <td>E-post</td>
                    <td><span class="wrapcomment">Max 80 char.</span></td>
                </tr>
                <tr>
                    <td>Webbplats (Website)</td>
                    <td>Hemsida</td>
                    <td><span class="wrapcomment">Max 80 char.</span></td>
                </tr>
                <tr>
                    <td>Adress (Address)</td>
                    <td>Postadress</td>
                    <td><span class="wrapcomment">Max 40 char.</span></td>
                </tr>
                <tr>
                    <td>Adress 2 (Address 2)</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Adress 3 (Address 3)</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Postnummer (Postal code)</td>
                    <td>PostNr</td>
                    <td><span class="wrapcomment">Max 10 char.</span></td>
                </tr>
                <tr>
                    <td>Ort (City)</td>
                    <td>Ort</td>
                    <td><span class="wrapcomment">Max 40 char.</span></td>
                </tr>
                <tr>
                    <td>Delstat (State)</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Land (Country)</td>
                    <td>Land</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Momsregistreringsnr (VAT no.)</td>
                    <td>VAT-nr</td>
                    <td><span class="wrapcomment">Max 20 char.</span></td>
                </tr>
                <tr>
                    <td>Organisation nr.</td>
                    <td>Org. nr</td>
                    <td><span class="wrapcomment">Max 25 char.</span></td>
                </tr>
                <tr>
                    <td>Postgiro/Bankgiro (Giro number).</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Valuta (Currency)</td>
                    <td>Valuta</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>EAN nr.</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>


    <h3 id="mapping-invoicelines">Kontaktperson (Contact persons)</h3>
    <p>Contact persons are added as our reference on the invoice.</p>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th>TimeLog</th>
                    <th>Björn Lundén</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Förnamn (First name)</td>
                    <td>Namn</td>
                    <td><span class="wrapcomment">First name and last name is merged</span></td>
                </tr>
                <tr>
                    <td>Efternamn (Last name)</td>
                    <td>Namn</td>
                    <td><span class="wrapcomment">First name and last name is merged</span></td>
                </tr>
                <tr>
                    <td>Telefon (Phone)</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Björn Lundén does not have this field on the invoice</span></td>
                </tr>
                <tr>
                    <td>E-post (Email)</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Björn Lundén does not have this field on the invoice</span></td>
                </tr>
                <tr>
                    <td>Min kommentar (your comment)</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Björn Lundén does not have this field on the invoice</span></td>
                </tr>

            </tbody>
        </table>
    </div>


    <h3 id="mapping-invoicelines">Artikelnummer (Product numbers)</h3>
    <p>Product numbers are imported when setting up the integration.</p>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th>TimeLog</th>
                    <th>Björn Lundén</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Artikelnummer (Product no..)</td>
                    <td>Artikel Id</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Namn (Name)</td>
                    <td>Artikel</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Namn (Name)</td>
                    <td>Artikel</td>
                    <td><span class="wrapcomment">Is not visible on TimeLog platform</span></td>
                </tr>

            </tbody>
        </table>
    </div>


    <h3 id="mapping-invoicelines">Medarbetare (Employees)</h3>
    <p>TimeLog employees is  added as internal reference on the invoice.</p>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th>TimeLog</th>
                    <th>Björn Lundén</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Förnamn (first name)</td>
                    <td>Er reference : namn</td>
                    <td><span class="wrapcomment">First name and last name is merged</span></td>
                </tr>
                <tr>
                    <td>Efternamn (Last name)</td>
                    <td>Er reference : namn</td>
                    <td><span class="wrapcomment">First name and last name is merged</span></td>
                </tr>

            </tbody>
        </table>
    </div>


    <h3 id="mapping-invoicelines">Faktura (Invoice)</h3>
    <p>Invoice information that is transferred to Björn Lundén.</p>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th>TimeLog</th>
                    <th>Björn Lundén</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fakturanr. (Invoice no.)</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Kundnr. (Customer no.)</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Kontaktperson (Contact)</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Contacts are not supported in Björn Lundén, please refere to "internal - and our refernece". </span></td>
                </tr>
                <tr>
                    <td>Fakturaadress, kundadress (Customer address) </td>
                    <td>Kund</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Fakturaadress, kontaktperson (Invoice address, contact person)</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Fakturadatum (Invoice date)</td>
                    <td>Fakturadatum</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Upprättat, (Created)</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Uppdaterat (Updated)</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Avdeling (Department)</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Projekt (Project name)</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Projektnummer. (Project no.)</td>
                    <td>-</td>
                    <td>-</td>
                </tr>         
                <tr>
                    <td>Rekvisionsnr. (P.O. no.)</td>
                    <td>Ert ordernummer</td>
                    <td><span class="wrapcomment">Max 40 char. is shown internally in the system.</span></td>
                </tr>
                <tr>
                    <td>Kundens referens. (Customer ’s Ref.)</td>
                    <td>Vår referens</td>
                    <td><span class="wrapcomment">Max 40 char. where 37 of them is visible on a physicial invoice. Rest is stored internally in the system.</span></td>
                </tr>
                <tr>
                    <td>Intern referens (Internal reference)</td>
                    <td>Er referens</td>
                    <td><span class="wrapcomment">Max 40 char. where 39 of them is visible on a physicial invoice. Rest is stored internally in the system.</span></td>
                </tr>
                <tr>
                    <td>EAN/GLN</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Fakturaadress: (address 1)</td>
                    <td>Fakturaadress</td>
                    <td><span class="wrapcomment">Max 40 char. where 24 of them is visible on a physicial invoice. Rest is stored internally in the system.</span></td>
                </tr>
                <tr>
                    <td>Fakturaadress: (address 2)</td>
                    <td>Fakturaadress</td>
                    <td><span class="wrapcomment">Is stored internally in the system.</span></td>
                </tr>
                <tr>
                    <td>Fakturaadress: (address 3)</td>
                    <td>Fakturaadress</td>
                    <td><span class="wrapcomment">Is stored internally in the system.</span></td>
                </tr>
                <tr>
                    <td>By (City)</td>
                    <td>Ort</td>
                    <td><span class="wrapcomment">Max 40 char. where 26 of them is visible on a physicial invoice. Rest is stored internally in the system.</span></td>
                </tr>
                <tr>
                    <td>Postnr. (Postal code)</td>
                    <td>Postnr.</td>
                    <td><span class="wrapcomment">Max 10 char. where 7 of them is visible on a physicial invoice. Rest is stored internally in the system.</span></td>
                </tr>
                <tr>
                    <td>Land (Country)</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Overskrift (Heading)</td>
                    <td>Ordertext</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Besked (Message)</td>
                    <td>Ordertext</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Betalingsbetingelser (Payment terms)</td>
                    <td>Bet. Villkor</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Betalingsfrist (Due date)</td>
                    <td>Förfallodatum</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Valuta (Currency)</td>
                    <td>Redovisning/Valuta</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Moms % (Default VAT %)</td>
                    <td>Momsfritt</td>
                    <td><span class="wrapcomment">Is handled by Björn Lundén</span></td>
                </tr>
            </tbody>
        </table>
    </div>


    <h3 id="mapping-invoicelines">Fakturarad (Invoice line)</h3>
    <p>Invoice line information that is transferred to Björn Lundén.</p>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th>TimeLog</th>
                    <th>Björn Lundén</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Artikelnr. (Product no.)</td>
                    <td>Artikelnr</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Beskrivelse (Description)</td>
                    <td>Benämning</td>
                    <td><span class="wrapcomment">Max 80 char. where 38 of them is visible on a physicial invoice. Rest is stored internally in the system.</span></td>
                </tr>
                <tr>
                    <td>Antal (Quantity)</td>
                    <td>Best.antal</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Enhed (Unit)</td>
                    <td>Enhet</td>
                    <td><span class="wrapcomment">Is specified at creating of product numbers in Björn Lundén.</span></td>
                </tr>
                <tr>
                    <td>Sats (Rate)</td>
                    <td>Apris</td>
                    <td><span class="wrapcomment">Max 15 char. where 7 of them is visible on a physicial invoice. Rest is stored internally in the system.</span></td>
                </tr>
                <tr>
                    <td>% (%)</td>
                    <td>Rabat</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Moms (VAT %)</td>
                    <td>-</td>
                    <td><span class="wrapcomment">This field is set depending on which customers is the invoice being transferred to.</span></td>
                </tr>
                <tr>
                    <td>Beløb (Amount)</td>
                    <td>Total</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>


    <h3 id="mapping-expenses">Import av projektkostnader (Import of project expenses)</h3>
    <p>Import of project expenses from Björn Lundén.</p>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th>TimeLog</th>
                    <th>Björn Lundén</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dato (Date)</td>
                    <td>Fakturadatum</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Utgiftsnr. (Expense no.)</td>
                    <td>Utgiftsnr</td>
                    <td><span class="wrapcomment">Expense number in Björn Lundén</span></td>
                </tr>
                <tr>
                    <td>Leverannnnnnntör (Supplier)</td>
                    <td>Utgiftsnr</td>
                    <td><span class="wrapcomment">Is matched if supplier no. is found in TimeLog</span></td>
                </tr>
                <tr>
                    <td>Meddelande (Comment)</td>
                    <td>Kommentar</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Fakturanr. (Invoice no.)</td>
                    <td>Fakturanummer</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Valuta (Currency)</td>
                    <td>Valuta</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Valutakurs (Exchange rate)</td>
                    <td>Kurs</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Beløb inkl. moms (Amount incl. VAT) </td>
                    <td>Debet</td>
                    <td><span class="wrapcomment">Expenses are imported without VAT</span></td>
                </tr>
                <tr>
                    <td>Moms (VAT)</td>
                    <td>Momskod</td>
                    <td><span class="wrapcomment">Expenses are imported without VAT</span></td>
                </tr>
                <tr>
                    <td>Uttgiftstyp (Expense type)</td>
                    <td>Konto</td>
                    <td><span class="wrapcomment">TimeLog expense type name if matched with Björn Lundén account no.</span></td>
                </tr>
                <tr>
                    <td>Projekt (Project)</td>
                    <td>Projekt</td>
                    <td><span class="wrapcomment">Is imported if selected on the Björn Lundén expense</span></td>
                </tr>
            </tbody>
        </table>
    </div>


    <h3 id="mapping-expenses">Projekt (Project)</h3>
    <p>Export of TimeLog project </p>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th>TimeLog</th>
                    <th>Björn Lundén</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Projektnummer (Project no.)</td>
                    <td>Id</td>
                    <td><span class="wrapcomment">May consist of letters and numbers</span></td>
                </tr>
                <tr>
                    <td>Namn (Name)</td>
                    <td>Namn</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>startdatum (Start date)</td>
                    <td>Start och slut</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Slutdatum (Slut date)</td>
                    <td>Start och slut</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Beskrivning (Description)</td>
                    <td>Anmärkning</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Projektledare (Project manager)</td>
                    <td>Ansvarig</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Projektstatus (Project status)</td>
                    <td>Status</td>
                    <td>-</td>
                </tr>

            </tbody>
        </table>
    </div>


</article>
