
@{
    ViewBag.Title = "Financial Integrations - Configuration File";
}

<h1>Configuration File Documentation</h1>
<h2>
    Some settings can be changed in the settings file (TimeLog.Financial.Host.Settings.xml) that is part of the financial host middleware.
    These settings should only be changed after consulting a TimeLog Integration Specialist.
</h2>

<table style="width: 100%;" class="setting_table">
    <colgroup>
        <col style="width: 70%">
        <col>
    </colgroup>
    <tbody>
        <tr class="tablespacer">
            <td>Host specific settings</td>
            <td></td>
        </tr>
        <tr>
            <td>HostDebugMode</td>
            <td></td>
        </tr>
    </tbody>
</table>