@{ ViewBag.Title = "Dinero"; Layout = "../Shared/_Layout_Single_Column.cshtml"; }

<article class="article">
    <h1>@ViewBag.Title</h1>

    <h2>Introduktion</h2>
    <p>Dette dokument giver en beskrivelse af hvilke TimeLog data der overføres til, hvilket felt i Dinero.</p>
    <p>Følgende funktioner er supporteret i Dinero integrationen.</p>
    <p>Overordnede funktioner:</p>
    <p>
        <ul>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">To vejs synkronisering af kunder</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Import af varenumre fra Dinero til TimeLog</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Overførsel af bogførte fakturaer fra TimeLog til Dinero</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Automatisk sammenkædning af Dinero fakturastatus og fakturanummer i TimeLog</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">TimeLog viser den enkelte fakturas beløb i Dinero og TimeLog</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Import af udgifter fra Dinero til TimeLog</li>
        </ul>
    </p>
    <br />

    <h2>Features</h2>
    <p>Denne sektion indeholder en liste af features, og begrænsninger for, hvert område af integrationen</p>

    <h3>Dimensioner</h3>
    <p>Understøttes ikke hos Dinero</p>

    <h3>Valuta</h3>
    <p>TimeLog opretter ikke valutaer I Dinero, hvis fakturaens valuta ikke findes i Dinero. Derfor skal alle benyttede valuta i TimeLog også være oprettet i Dinero.</p>

    <h3>Kunder</h3>
    <p>Kunder sammenkædes ved oprettelse af integrationen. Nye kunder kan overføres til Dinero sammen med første faktura, eller importeres i TimeLog.</p>
    <p>Den ønskede funktionalitet vælges i integrationsopsætningen.</p>

    <h3>Kontaktpersoner</h3>
    <p>Kontaktpersoner på en faktura i TimeLog, overføres til Dinero sammen med fakturaerne som att. person. Kontaktpersoner i Dinero overføres ikke til TimeLog.</p>
    <p>Ved ny faktura til eksisterende kunde overskrives att. personen.</p>

    <h3>Varenumre</h3>
    <p>Varenumre I Dinero importeres ved oprettelse af integrationen. Varenumre i Dinero kan ikke ændres eller slettes fra TimeLog.</p>

    <h3>Medarbejdere</h3>
    <p>Medarbejdere overføres ikke til Dinero</p>

    <h3>Fakturaer</h3>
    <p>Kun bogførte TimeLog fakturaer kan overføres til Dinero. Fakturaer overføres som en fakturakladde i Dinero. Ændres en faktura i Dinero, bliver ændringen ikke reflekteret i TimeLog. </p>

    <h3>Faktura linjer</h3>
    <p>Feltet ”Enhed” på en TimeLog faktura overføres ikke til Dinero på fakturakladden. Enhedskoden på fakturalinjen i Dinero vælges på varenummerets opsætning.</p>

    <h3>Udgifter</h3>
    <p>Udgifter overføres ikke til Dinero</p>

    <h3>Projekter</h3>
    <p>Projekter overføres ikke til Dinero</p>

    <h3>Projektopgaver</h3>
    <p>Projektopgaver overføres ikke til Dinero</p>

    <h3>Allokeringer</h3>
    <p>Allokerede medarbejdere overføres ikke til Dinero</p>

    <h3>Tidsregistereringer</h3>
    <p>Tidsregistreringer overføres ikke til Dinero </p>

    <br />

    <h2>Mapping</h2>
    <p>Denne sektion indeholder informationer om felter i TimeLog der overføres til, hvilke i Dinero</p>

    <h3 id="mapping-customers">Kunder</h3>
    <div class="bs-example">

        <table class="mapping_table" style="width: 100%;">
            <thead>
                <tr>
                    <th colspan="2">Feltnavne</th>
                    <th colspan="2">Tekniske navne</th>
                    <th></th>
                </tr>
                <tr class="underline">
                    <th>TimeLog</th>
                    <th>Dinero</th>
                    <th>TimeLog</th>
                    <th>Dinero</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Firmanavn</td>
                    <td>Firmanavn</td>
                    <td>Name</td>
                    <td>Name</td>
                    <td><span class="wrapcomment">Obligatorisk ved oprettelse af ny</span></td>
                </tr>
                <tr>
                    <td>Kundenr.</td>
                    <td>-</td>
                    <td>CustomerNo</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ejer</td>
                    <td>-</td>
                    <td>KeyAccountManagerInitials</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Telefon</td>
                    <td>Telefonnummer</td>
                    <td>Phone</td>
                    <td>Phone</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fax</td>
                    <td>-</td>
                    <td>Fax</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td>Hjemmeside</td>
                    <td>Website</td>
                    <td>Webpage</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Adresse</td>
                    <td>Adresse</td>
                    <td>Address.Address</td>
                    <td>Address</td>
                    <td><span class="wrapcomment">Dinero underst&oslash;tter kun en adresse linje</span></td>
                </tr>
                <tr>
                    <td>Adresse 2</td>
                    <td>-</td>
                    <td>Address.Address2</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Adresse 3</td>
                    <td>-</td>
                    <td>Address.Address3</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Postnr.</td>
                    <td>Postnr</td>
                    <td>Address.ZipCode</td>
                    <td>Zipcode</td>
                    <td></td>
                </tr>
                <tr>
                    <td>By</td>
                    <td>By</td>
                    <td>Address.City</td>
                    <td>City</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Stat</td>
                    <td>-</td>
                    <td>Address.State</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Land</td>
                    <td>Land</td>
                    <td>Address.Country</td>
                    <td>CountryKey</td>
                    <td><span class="wrapcomment">De forkortelser der bruges er fx DK, DE eller SE</span></td>
                </tr>
                <tr class="info">
                    <td>CVR-nr.</td>
                    <td>CVR-nr</td>
                    <td>VatNo</td>
                    <td>VatNumber</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Giro-nr.</td>
                    <td>-</td>
                    <td>GiroNo</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Organisation nr.</td>
                    <td>-</td>
                    <td>OrganizatioNo</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Valuta</td>
                    <td>-</td>
                    <td>Currency</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>EAN-nr.</td>
                    <td>EAN-nr.</td>
                    <td>EAN</td>
                    <td>EanNumber</td>
                    <td></td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>Kontaktperson</td>
                    <td>AttPerson</td>
                    <td><span class="wrapcomment">Fornavn og Efternavn overf&oslash;res</span></td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>ExternalKey</td>
                    <td>ContactGuid</td>
                    <td><span class="wrapcomment">Bliver ikke overf&oslash;rt. Benyttes til sammenk&aelig;dning af kundenavne</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3 id="mapping-contacts">Kontaktpersoner</h3>
    <div class="bs-example">
        <table class="mapping_table" style="width: 100%;">
            <thead>
                <tr>
                    <th colspan="2">Feltnavne</th>
                    <th colspan="2">Tekniske navne</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>Dinero</th>
                    <th>TimeLog</th>
                    <th>Dinero</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fornavn</td>
                    <td>Att person</td>
                    <td>FirstName</td>
                    <td>Name</td>
                    <td><span class="wrapcomment">Samlet i &lt;AttPerson&gt;, overf&oslash;res p&aring; kunde</span></td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>Att person</td>
                    <td>LastName</td>
                    <td>Name</td>
                    <td><span class="wrapcomment">Samlet i &lt;AttPerson&gt;, overf&oslash;res p&aring; kunde</span></td>
                </tr>
                <tr>
                    <td>Telefon</td>
                    <td>-</td>
                    <td>Phone</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>-</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Min kommentar</td>
                    <td>-</td>
                    <td>Comment</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Kunde</td>
                    <td>-</td>
                    <td>ExternalID</td>
                    <td>Debtor</td>
                    <td>Kundei Dinero er sammenk&aelig;det via externalKey p&aring; sammenk&aelig;dede kunder.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3 id="mapping-productnumbers">Varernumre</h3>
    <div class="bs-example">
        <table class="mapping_table" style="width: 100%;">
            <thead>
                <tr>
                    <th colspan="2">Feltnavne</th>
                    <th colspan="2">Tekniske navne</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>Dinero</th>
                    <th>TimeLog</th>
                    <th>Dinero</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nr.</td>
                    <td>No.</td>
                    <td>ProductNo</td>
                    <td>ProductNumbre</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Navn</td>
                    <td>Navn</td>
                    <td>Name</td>
                    <td>Name</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Beskrivelse</td>
                    <td>-</td>
                    <td>Description</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3 id="mapping-invoices">Fakturaer</h3>
    <div class="bs-example">

        <table class="mapping_table" style="width: 100%;">
            <thead>
                <tr>
                    <th colspan="2">Feltnavne</th>
                    <th colspan="2">Tekniske navne</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>Dinero</th>
                    <th>TimeLog</th>
                    <th>Dinero</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fakuranr.</td>
                    <td>Fakturanr</td>
                    <td>InvoiceNo</td>
                    <td>Number</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Kundenr.</td>
                    <td>-</td>
                    <td>CustomerKey</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Kontaktperson nr.</td>
                    <td>-</td>
                    <td>ContactKey</td>
                    <td>ContactName</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Faktura adresse: (Kundens navn)</td>
                    <td>Kontakt</td>
                    <td>FixedCustomerName</td>
                    <td>Adress</td>
                    <td></td>
                </tr>
                <tr class="info">
                    <td>Faktura adresse: (Att kontaktperson</td>
                    <td>-</td>
                    <td>FixedContactFullName</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fakturadato</td>
                    <td>Dato</td>
                    <td>InvoiceDate</td>
                    <td>Date</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fakturaafdeling</td>
                    <td>-</td>
                    <td></td>
                    <td>-</td>
                    <td><span class="wrapcomment">Layout is retrieved from the debtor in e-conomic</span></td>
                </tr>
                <tr>
                    <td>Projektnavn</td>
                    <td>-</td>
                    <td></td>
                    <td>-</td>
                    <td><span class="wrapcomment">Contact is retrieved from e-conomic based on the CustomerReferenceID</span></td>
                </tr>
                <tr>
                    <td>Projektnr.</td>
                    <td>-</td>
                    <td></td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Rekvisionsnr.</td>
                    <td>-</td>
                    <td>RequisitionNo</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Kundens ref.</td>
                    <td>-</td>
                    <td>CustomersReference / FixedAttContactFullName</td>
                    <td>-</td>
                    <td><span class="wrapcomment">TimeLog invoiceID is noted in other reference i e-conomic</span></td>
                </tr>
                <tr>
                    <td>Intern reference</td>
                    <td>-</td>
                    <td>InternalReferenceInitials</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>EAN</td>
                    <td>-</td>
                    <td>EAN</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Faktura adresse: (address 1)</td>
                    <td>-</td>
                    <td>FixedAddress1</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Faktura adresse: (address 2)</td>
                    <td>-</td>
                    <td>FixedAddress2</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Message and requisitionNo is concatenated into TextLine1 in e-conomic</span></td>
                </tr>
                <tr>
                    <td>Faktura adresse: (address 3)</td>
                    <td>-</td>
                    <td></td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>By</td>
                    <td>-</td>
                    <td></td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Postnr.</td>
                    <td>-</td>
                    <td>FixedZipCode</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Faktura adresse: (Landekode (ISO))</td>
                    <td>-</td>
                    <td>FixedCountryISO</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Overskrift</td>
                    <td>Overskrift</td>
                    <td>Header</td>
                    <td>Description</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Besked</td>
                    <td>Kommentar</td>
                    <td></td>
                    <td>Comment</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Betalingsbetingelser</td>
                    <td>-</td>
                    <td></td>
                    <td>PaymentConditionType</td>
                    <td><span class="wrapcomment">Overf&oslash;res ikke men styres af standard indstillinger i Dinero</span></td>
                </tr>
                <tr>
                    <td>Betalingsfrist</td>
                    <td>Forfaldsdato</td>
                    <td>DueDate</td>
                    <td>PaymentConditionNumberOfDays</td>
                    <td><span class="wrapcomment">Overf&oslash;res ikke men styres af standard indstillinger i Dinero</span></td>
                </tr>
                <tr>
                    <td>Valuta</td>
                    <td>-</td>
                    <td>CurrencyISO</td>
                    <td>Currency</td>
                    <td>Forkortelse af valuta p&aring; fakturaen fx. DKK</td>
                </tr>
                <tr>
                    <td>Standard rabat %</td>
                    <td>-</td>
                    <td>DefaultDiscount</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Moms %</td>
                    <td>-</td>
                    <td></td>
                    <td></td>
                    <td><span class="wrapcomment">Håndteres af Dinero</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 id="mapping-invoicelines">Fakturalinjer</h3>
    <div class="bs-example">

        <table class="mapping_table" style="width: 100%;">
            <thead>
                <tr>
                    <th colspan="2">Feltnavne</th>
                    <th colspan="2">Tekniske navne</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>Dinero</th>
                    <th>TimeLog</th>
                    <th>Dinero</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Varenr.</td>
                    <td>Beskrivelse</td>
                    <td>ProductNo</td>
                    <td>Product</td>
                    <td><span class="wrapcomment">Er importeret fra Dinero (Product no)</span></td>
                </tr>
                <tr>
                    <td>Beskrivelse</td>
                    <td>Kommentar</td>
                    <td>Text</td>
                    <td>Comments</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Antal</td>
                    <td>Antal</td>
                    <td>Quantity</td>
                    <td>Quantity</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Enhed</td>
                    <td>Enhed</td>
                    <td>Unit</td>
                    <td>Unit</td>
                    <td><span class="wrapcomment">Overf&oslash;res ikke. Dinero enhed p&aring; varenumer benyttes i Dinero</span></td>
                </tr>
                <tr>
                    <td>Sats</td>
                    <td>Stk. pris</td>
                    <td>Rate</td>
                    <td>UnitNetPrice</td>
                    <td></td>
                </tr>
                <tr>
                    <td>%</td>
                    <td>Rabat</td>
                    <td>Discount</td>
                    <td>Discount</td>
                    <td><span class="wrapcomment">I procent (%)</span></td>
                </tr>
                <tr>
                    <td>Moms</td>
                    <td>-</td>
                    <td></td>
                    <td>TotalVat</td>
                    <td><span class="wrapcomment">Håndteres af Dinero</span></td>
                </tr>
                <tr>
                    <td>Bel&oslash;b</td>
                    <td>-</td>
                    <td></td>
                    <td>TotalInclVat</td>
                    <td><span class="wrapcomment">Håndteres af Dinero</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</article>