@{
    ViewBag.Title = "Microsoft Dynamics NAV";
    Layout = "../Shared/_Layout_Single_Column.cshtml";
}
<article class="article">
    <h1>@ViewBag.Title</h1>
    <h2>Introduction</h2>
    <p>
        The Microsoft Dynamics NAV implementation of the TimeLog generic financial integration supports the full set of features for a complete integration with TimeLog. The NAV integration supports the following features of the generic financial integration:
    </p>
    <p><strong>Invoicing version:</strong></p>
    <p>
        <ul>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Two-way synchronization of customers</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Import of product numbers from NAV to TimeLog</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Transfer of booked invoices from TimeLog to NAV</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Automatic tracking of NAV invoice number and status from TimeLog</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">TimeLog Audit interface matching the individual invoice totals from NAV and TimeLog</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Import expenses from NAV to TimeLog</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Export of TimeLog project number to NAV</li>
        </ul>
    </p>
    <p><strong>Quick intro</strong></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mDX_6Ns-Ldo" frameborder="0" allowfullscreen></iframe>
    <br />
    <br />

<h2>Install and configuration</h2>

<ul>
    <li style="text-indent: 20px;" class="icon-arrow_in_circle">
        <a href="@Url.Action("NAVInstallDocument")">NAV license requirements and install guide</a>
    </li>
</ul>

<h2>Features</h2>
    <p>This section includes a list of features and limitations to each transfer area of the integration.</p>

<h3>Dimensions</h3>
<p>
    TimeLog support transfer of dimensions of the invoice to Global Dimension 1 and 2 in NAV. <br/>
    Dimensions can be specified for both invoice header and invoice lines. If nothing is specified for the lines they will inherit from the header. <br/>
    Following dimension can be transferred to NAV:<br/>
    <br/>
    <ul>
        <li> - Project number</li>
        <li> - Invoice Department Number</li>
        <li> - Invoice Department Name</li>
        <li> - Employee Department Number (only transferred on invoice line level)</li>
    </ul>
</p>


<h3>Currencies</h3>
    <p>TimeLog does not create the currency in NAV if it does not exist. Therefore, make sure that all the currencies used in TimeLog are created in NAV.</p>

<h3>Customers</h3>
<p>In the integration setup is it possible to control which system that is the master for new customers and how they are synchronized between TimeLog and NAV</p>

<h3>Contact</h3>
<p>In the integration settings inside NAV, you find the checkbox for turning on/off extended contact handling ("Brug udvidet kontakt mgr").</p>
    <ul>
        <li>If it is turned on, the integration uses the NAV contact relationship ("kontakt relationsstyring"). One-to-many relation.</li>
        <li>If it is turned off, the integration uses the field "kontakt" on the debtor view. One-to-one relation.</li>
    </ul>
    <p>
        <strong>Without contact relationship</strong>
    </p>
    <p>When a contact is created or updated in TimeLog and transferred to NAV, is the field "kontakt" on the debtor updated with the latest transfer. Any previous transfers are overwritten. When updating the field "kontakt" in NAV, will this NOT create a new contact in TimeLog.</p>

<h3>Product numbers</h3>
<p>
    Product numbers in NAV cannot be added/modified/deleted from TimeLog. TimeLog can import NAV product numbers.
</p>


<h3>Employees</h3>
<p>
    If employees are pushed from TimeLog to NAV, then an employee template is used to map fields that does not exist in TimeLog. The template can be chosen in the NAV-TimeLog settings dialog. Employees cannot be transferred from NAV to TimeLog.
</p>
    <p>
        If automatic transfer of employees is turned off, they have to be created manually in "Personale" > "Medarbejdere" using the exact same initials in the "Nummer"-field.    </p>

<h3>Invoices</h3>
<p>Only booked invoices can be transferred from TimeLog to NAV. Invoices are transferred as drafts. Changes in invoice drafts inside NAV will not be reflected in TimeLog.</p>

<h3>Invoice lines</h3>
    <p>
        The TimeLog field "Unit of meassure" is NOT transferred to NAV on invoice lines. In NAV, the field "Enhedskoden" defaults to the one specified in the item setup ("Vareopsætningen").
    </p>

<h3>Expenses</h3>
<p>Expenses can only be transferred from NAV to TimeLog. TimeLog notifies NAV if an expense is taken or deleted from the import pool.</p>

<h3>Projects</h3>
    <p>
        Optional transfer of project number to either NAV global dimension 1 or 2 is possible
    </p>

<h3>Tasks</h3>
<p>Tasks can only be transferred from NAV to TimeLog. If tasks are deleted or moved in NAV then this will not be reflected in TimeLog.</p>

<h3>Allocations</h3>
<p>Allocations can only be transferred from NAV to TimeLog.</p>

<h3>Registrations</h3>
<p>Time tracking in TimeLog is not transferred to NAV</p>
<br />

<h2>Mapping</h2>
<p>This section contains the explicit mapping of fields between TimeLog and NAV.</p>
    <h3 id="mapping-customers">Customers</h3>
    <div class="bs-example">
        <table style="width: 100%;" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Field name</th>
                    <th colspan="2">Technical name</th>
                    <th></th>
                </tr>
                <tr class="underline">
                    <th>TimeLog</th>
                    <th>NAV</th>
                    <th>TimeLog</th>
                    <th>NAV</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Company name</td>
                    <td>Name</td>
                    <td>Name</td>
                    <td>Name</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Customer No. </td>
                    <td>Customer No.</td>
                    <td>CustomerNo</td>
                    <td>No</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>Phone</td>
                    <td>Phone</td>
                    <td>PhoneNumber</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fax</td>
                    <td>Fax</td>
                    <td>Fax</td>
                    <td>Fax</td>
                    <td></td>
                </tr>
                <tr>
                    <td>VAT no</td>
                    <td>VAT no.</td>
                    <td>VatNo</td>
                    <td>VATNo</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Organisation no.</td>
                    <td>Registration no.</td>
                    <td>OrganizationNo</td>
                    <td>RegistrationNo</td>
                    <td><span class="wrapcomment">Only available on Swedish NAV at the moment</span></td>
                </tr>
                <tr>
                    <td>EAN no.</td>
                    <td>EAN no.</td>
                    <td>EAN</td>
                    <td>EAN</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>Address</td>
                    <td>Address.Address</td>
                    <td>Address</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Address 2</td>
                    <td>Address 2</td>
                    <td>Address.Address2</td>
                    <td>Address2</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Address 3</td>
                    <td>-</td>
                    <td>Address.Address3</td>
                    <td></td>
                    <td><span class="wrapcomment">Is not transferred</span></td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>City</td>
                    <td>Address.City</td>
                    <td>City</td>
                    <td></td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>Territory</td>
                    <td>Address.State</td>
                    <td>Territory</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>Country</td>
                    <td>Address.CountryISO</td>
                    <td>Country</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Postal code</td>
                    <td>Postcode</td>
                    <td>Address.ZipCode</td>
                    <td>Postcode</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td>Homepage</td>
                    <td>Website</td>
                    <td>Homepage</td>
                    <td></td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>E-mail</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>Currency</td>
                    <td>Currency</td>
                    <td>CurrencyCode</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Owner</td>
                    <td>SalesPerson</td>
                    <td>KeyAccountManagerInitials</td>
                    <td>SalesPerson</td>
                    <td><span class="wrapcomment">Is not transferred on customer</span></td>
                </tr>
            </tbody>
        </table>
    </div>
<h3 id="mapping-contacts">Contact persons</h3>
<p>Contact persons at the TimeLog customer is only transferred together with the invoice</p>
    <div class="bs-example">
        <table style="width: 100%; display:none;" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Field name</th>
                    <th colspan="2">Technical name</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>NAV</th>
                    <th>TimeLog</th>
                    <th>NAV</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>First name</td>
                    <td>Name</td>
                    <td>FirstName</td>
                    <td>FirstName</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>Name</td>
                    <td>LastName</td>
                    <td>Surname</td>
                    <td><span class="wrapcomment">Truncate to 30 in NAV</span></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>Telephone</td>
                    <td>Phone</td>
                    <td>Mobile</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>E-mail</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>Address</td>
                    <td>Address</td>
                    <td>Address</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Address2</td>
                    <td>Address2</td>
                    <td>Address2</td>
                    <td>Address2</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>City</td>
                    <td>City</td>
                    <td>City</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Zip code</td>
                    <td>Post code</td>
                    <td>>ZipCode</td>
                    <td>PostCode</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 id="mapping-productnumbers">Product numbers</h3>
    <div class="bs-example">
        <table style="width: 100%;" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Field name</th>
                    <th colspan="2">Technical name</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>NAV</th>
                    <th>TimeLog</th>
                    <th>NAV</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No.</td>
                    <td>No.</td>
                    <td>ProductNo</td>
                    <td>No</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>Description 2</td>
                    <td>Description</td>
                    <td>Description2</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
<h3 id="mapping-employees">Employees</h3>
<p>TimeLog employees is only transferred together with the invoice if listed as internal reference on the invoice</p>
    <div class="bs-example">
        <table style="width: 100%; display:none;" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Field name</th>
                    <th colspan="2">Technical name</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>NAV</th>
                    <th>TimeLog</th>
                    <th>NAV</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>First name</td>
                    <td>First name</td>
                    <td>FirstName</td>
                    <td>FirstName</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>Last name</td>
                    <td>LastName</td>
                    <td>LastName</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>Address</td>
                    <td>Address</td>
                    <td>Address</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Address2</td>
                    <td>Address2</td>
                    <td>Address2</td>
                    <td>Address2</td>
                    <td></td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>City</td>
                    <td>City</td>
                    <td>City</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>Country</td>
                    <td>CountryISO</td>
                    <td>Country</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Initials</td>
                    <td>Initial</td>
                    <td>Initials</td>
                    <td>No</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td>Mobile</td>
                    <td>Mobile</td>
                    <td>MobilePhone</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>Phone</td>
                    <td>Phone</td>
                    <td>Phone</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Zip code</td>
                    <td>Post code</td>
                    <td>ZipCode</td>
                    <td>PostCode</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 id="mapping-invoices">Invoices</h3>
    <div class="bs-example">
        <table style="width: 100%;" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Field name</th>
                    <th colspan="2">Technical name</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>NAV</th>
                    <th>TimeLog</th>
                    <th>NAV</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Customer No.</td>
                    <td>Sell-to Customer No.</td>
                    <td>CustomerKey</td>
                    <td>Sell-to Customer No.</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Contact No.</td>
                    <td>Bill-to/Sell-to Contact</td>
                    <td>ContactKey</td>
                    <td>Bill-to/Sell-to Contact</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>CurrencyCode</td>
                    <td>CurrencyISO</td>
                    <td>CurrencyCode</td>
                    <td><span class="wrapcomment">Abbreviation of the currency from the invoice in TimeLog</span></td>
                </tr>
                <tr>
                    <td>Invoice Date</td>
                    <td>Document Date</td>
                    <td>InvoiceDate</td>
                    <td>DocumentDate</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Customers Reference / Invoice Address:(AttContactFullName)</td>
                    <td>Your Reference</td>
                    <td>CustomersReference / FixedAttContactFullName</td>
                    <td>YourReference</td>
                    <td><span class="wrapcomment">If customer Reference is null or empty FixedAttContactFullName is used and is truncated to 30 characters in NAV.</span></td>
                </tr>
                <tr>
                    <td>Default discount %:</td>
                    <td>Invoice Disc. Code</td>
                    <td>DefaultDiscount</td>
                    <td>InvoiceDiscCode</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Prices Including VAT</td>
                    <td></td>
                    <td>PricesIncludingVAT</td>
                    <td><span class="wrapcomment">Is always set to false</span></td>
                </tr>
                <tr>
                    <td>Due Date</td>
                    <td>DueDate</td>
                    <td>Due Date</td>
                    <td>DueDate</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>EAN</td>
                    <td>EAN</td>
                    <td>EAN</td>
                    <td>EAN</td>
                    <td><span class="wrapcomment">A specified EAN no. can be put in "Requisition no." on invoice. The number must start with "EAN" to be taken in consideration. If none in "Requisition no." invoice EAN will be used. Both are truncated to 13 characters.</span></td>
                </tr>
                <tr>
                    <td>Requisition No</td>
                    <td>External Document Number</td>
                    <td>RequisitionNo</td>
                    <td>ExternalDocumentNumber</td>
                    <td><span class="wrapcomment">Id truncated to 35 characters</span></td>
                </tr>
                <tr>
                    <td>Invoice No</td>
                    <td>No</td>
                    <td>InvoiceNo</td>
                    <td>No</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Invoice address: (Customer name)</td>
                    <td>Sell-To Customer Name</td>
                    <td>FixedCustomerName</td>
                    <td>SellToCustomerName</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Invoice address: (Att Contact Fullname)</td>
                    <td>Bill-to/Sell-to Contact</td>
                    <td>FixedAttContactFullName</td>
                    <td>Bill-to/Sell-to Contact</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Invoice Date</td>
                    <td>PostingDate</td>
                    <td>InvoiceDate</td>
                    <td>PostingDate</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Invoice Date</td>
                    <td>OrderDate</td>
                    <td>InvoiceDate</td>
                    <td>OrderDate</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Heading</td>
                    <td>Posting Description</td>
                    <td>Header</td>
                    <td>PostingDescription</td>
                    <td><span class="wrapcomment">Is truncated to 50 characters in NAV. Setup a warning in TimeLog</span></td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="wrapcomment">In not transferred</span></td>
                </tr>
                <tr>
                    <td>P.O. No</td>
                    <td>Quote No</td>
                    <td>RequisitionNo</td>
                    <td>QuoteNo</td>
                    <td><span class="wrapcomment">Is truncated to 20 characters</span></td>
                </tr>
                <tr>
                    <td>VAT %</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="wrapcomment">Is not transferred. Is a default setup in the integration page</span></td>
                </tr>
                <tr>
                    <td>Internal Reference Initials</td>
                    <td>Sales Person Code</td>
                    <td>InternalReferenceInitials</td>
                    <td>SalesPersonCode</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Invoice address: (Country Code(ISO))</td>
                    <td>Bill-to/Sell-to Country Code</td>
                    <td>FixedCountryISO</td>
                    <td>Bill-to/Sell-to CountryCode</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Invoice address: (address 1)</td>
                    <td>Bill-to/Sell-to address</td>
                    <td>FixedAddress1</td>
                    <td>Bill-to/Sell-to address</td>
                    <td><span class="wrapcomment">Is truncated to 50 characters</span></td>
                </tr>
                <tr>
                    <td>Invoice address: (address 2)</td>
                    <td>Bill-to/Sell-to address 2</td>
                    <td>FixedAddress2</td>
                    <td>Bill-to/Sell-to address 2</td>
                    <td><span class="wrapcomment">Is truncated to 50 characters in NAV</span></td>
                </tr>
                <tr>
                    <td>Invoice address: (Zip code)</td>
                    <td>Bill-to/Sell-to PostCode</td>
                    <td>FixedZipCode</td>
                    <td>Bill-to/Sell-to PostCode</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 id="mapping-invoicelines">Invoice lines</h3>
    <div class="bs-example">
        <table style="width: 100%;" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Field name</th>
                    <th colspan="2">Technical name</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>NAV</th>
                    <th>TimeLog</th>
                    <th>NAV</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Product no.</td>
                    <td>Product no.</td>
                    <td>ProductNo</td>
                    <td>Product</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td></td>
                    <td>Description</td>
                    <td>Description</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Quantity</td>
                    <td>Quantity</td>
                    <td>Quantity</td>
                    <td>Quantity</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Unit</td>
                    <td>Unit</td>
                    <td>-</td>
                    <td>InvoiceUnitType</td>
                    <td><span class="wrapcomment">If not set, is pieces used as default.</span></td>
                </tr>
                <tr>
                    <td>Rate</td>
                    <td>Price</td>
                    <td>Rate</td>
                    <td>UnitPrice</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>%</td>
                    <td>Discount (%)</td>
                    <td>Discount</td>
                    <td>-</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 id="mapping-expenses">Expenses</h3>
    <div class="bs-example">
        <table style="width: 100%;" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Field name</th>
                    <th colspan="2">Technical name</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>NAV</th>
                    <th>TimeLog</th>
                    <th>NAV</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Currency</td>
                    <td>Currency</td>
                    <td>CurrencyISO</td>
                    <td>CurrencyCode</td>
                    <td><span class="wrapcomment">The currencyISO in TimeLog is fetched from the TimeLog currency, based on the currency abbreviation on the purchase from NAV</span></td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>CurrencyRate</td>
                    <td>CurrencyRate</td>
                    <td><span class="wrapcomment">The CurrencyRate in TimeLog is fetched from the TimeLog currency, based on the currency abbreviation on the purchase from NAV</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>DisbursementNo</td>
                    <td>-</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>InvoiceNo</td>
                    <td></td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Payment method</td>
                    <td></td>
                    <td>PaymentMethod</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Default payment method for import is setup in TimeLog</span></td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>Date</td>
                    <td>PurchaseDate</td>
                    <td>DocumentDate</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Amount incl. VAT</td>
                    <td>Amount (Curr)</td>
                    <td>CostCurrencyIncludingVAT</td>
                    <td>Amount</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td></td>
                    <td>Comment</td>
                    <td>entry.Account.AccountNumber</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        
        @*<h3>Custom settings</h3>
        <p>
            Some settings can be changed in the settings file (TimeLog.Financial.Host.Settings.xml) that is part of the financial host.
            These settings should only be changed after consulting TimeLog. See the @Html.ActionLink("full documentation", "ConfigurationFile")
        </p>*@
    </div>
</article>