
@{
    ViewBag.Title = "e-conomic";
    Layout = "../Shared/_Layout_Single_Column.cshtml";

}

<article class="article">
    <h1>@ViewBag.Title</h1>
    <h2>Introduktion</h2>
<p>Dette dokument giver en beskrivelse af hvilke TimeLog data der overføres til, hvilket felt i e-conomic.</p>
<p>Følgende funktioner er supporteret i e-conomic integrationen.</p>
<p><b>Overordnede funktioner:</b></p>
        <ul>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">To vejs synkronisering af kunder</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Import af varenumre fra e-conomic til TimeLog</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Overførsel af bogførte fakturaer fra TimeLog til e-conomic</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Automatisk sammenkædning af e-conomic fakturastatus og fakturanummer i TimeLog</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">TimeLog viser den enkelte fakturas beløb i e-conomic og TimeLog</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Import af udgifter fra e-conomic til TimeLog</li>

        </ul>
    
    <br />
    <h2>Features</h2>
<p>Denne sektion indeholder en liste af features, og begrænsninger for, hvert område af integrationen.</p>
    
<h3>Dimensioner</h3>
<p>TimeLog understøtter overførsel af dimensioner på fakturaer til e-conomic.</p>
<p>Følgende dimensioner kan overføres til e-conomic</p>
<ul>
    <li style="text-indent: 20px;" class="icon-arrow_in_circle">Projektnummer. Må kun bestå af tal og overføres kun hvis projektmodul er aktivt.</li>
</ul>

<h3>Valuta</h3>
<p>TimeLog opretter ikke valutaer I e-conomic, hvis fakturaens valuta ikke findes i e-conomic. Derfor skal alle benyttede valuta i TimeLog også være oprettet i e-conomic.</p>

<h3>Kunder</h3>
<p>Kunder sammenkædes ved oprettelse af integrationen. Nye kunder kan overføres til e-conomic sammen med første faktura, eller importeres i TimeLog.
    <br/>Den ønskede funktionalitet vælges i integrationsopsætningen.</p>

<h3>Kontaktpersoner</h3>
<p>Kontaktpersoner på en faktura i TimeLog, overføres til e-conomic sammen med fakturaerne. Kontaktpersoner i e-conomic overføres ikke til TimeLog.</p>

<h3>Varenumre</h3>
<p>Varenumre I e-conomic importeres ved oprettelse af integrationen. Varenumre i e-conomic kan ikke overføres, ændres eller slettes fra TimeLog.</p>

<h3>Medarbejdere</h3>
<p>TimeLog medarbejdere der er angivet på en faktura, overføres til e-conomic. Medarbejderen overføres til den valgte medarbejdergruppe I e-conomic.</p>

<h3>Fakturaer</h3>
<p>Kun bogførte TimeLog fakturaer kan overføres til e-conomic. Fakturaer overføres som en fakturakladde i e-conomic. Ændres en faktuura i e-conomic, bliver ændringen ikke reflekteret i TimeLog. </p>

<h3>Fakturalinjer</h3>
<p>Feltet ”Enhed” på en TimeLog faktura overføres ikke til e-conomic på fakturakladden. Enhedskoden på fakturalinjen i e-conomic vælges på varenummerets opsætning.</p>

<h3>Udgifter</h3>
<p>Udgifter kan kun importeres fra e-conomic til TimeLog.</p>

<h3>Projekter</h3>
<p>TimeLog projektnumre kan overføres til e-conomic, hvis aktiveret i integrationen.
    <br/>Projekter oprettet i TimeLog vil automatisk bliver overført til e-conomic når de oprettes.</p>

<h3>Projektopgaver</h3>
<p>Projektopgaver overføres ikke til e-conomic</p>

<h3>Allokeringer</h3>
<p>Allokerede medarbejdere overføres ikke til e-conomic</p>

<h3>Tidsregistreringer</h3>
<p>Tidsregistreringer overføres ikke til e-conomic </p>

    <br />

<h2>Mapping</h2>
<p>Denne sektion indeholder informationer om felter i TimeLog der overføres til, hvilke i e-conomic</p>

<h3 id="mapping-customers">Kunder (Customers)</h3>
<div class="bs-example">

    <table style="width: 100%" class="mapping_table">
        <thead>
            <tr>
                <th colspan="2">Feltnavne</th>
                <th colspan="2">Tekniske navne</th>
                <th></th>
            </tr>
            <tr class="underline">
                <th>TimeLog</th>
                <th>e-conomic</th>
                <th>TimeLog</th>
                <th>e-conomic</th>
                <th>Kommentar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Firmanavn (Company name)</td>
                <td>Navn</td>
                <td>Name</td>
                <td>Name</td>
                <td></td>
            </tr>
            <tr>
                <td>Kundenr. (Customer no)</td>
                <td>-</td>
                <td>CustomerNo</td>
                <td>-</td>
                <td></td>
            </tr>
            <tr>
                <td>Ejer (Owner)</td>
                <td>-</td>
                <td>KeyAccountManagerInitials</td>
                <td>-</td>
                <td></td>
            </tr>
            <tr>
                <td>Telefon (Phone)</td>
                <td>Telefon</td>
                <td>Phone</td>
                <td>PhoneNumber</td>
                <td></td>
            </tr>
            <tr>
                <td>Fax (Fax)</td>
                <td>Fax</td>
                <td>Fax</td>
                <td>-</td>
                <td><span class="wrapcomment">Dette samles under telefon</span></td>
            </tr>
            <tr>
                <td>E-mail (Email)</td>
                <td>Faktura-e-mail</td>
                <td>Email</td>
                <td>Email</td>
                <td></td>
            </tr>
            <tr>
                <td>Website (Website)</td>
                <td>Hjemmeside</td>
                <td>Website</td>
                <td>Website</td>
                <td></td>
            </tr>
            <tr>
                <td>Adresse (Address)</td>
                <td>Adresse</td>
                <td>Address.Address</td>
                <td>Address</td>
                <td><span class="wrapcomment">Samles i "adresse"</span></td>
            </tr>
            <tr>
                <td>Adresse 2 (Address 2)</td>
                <td>-</td>
                <td>Address.Address2</td>
                <td>-</td>
                <td><span class="wrapcomment">Samles i "adresse"</span></td>
            </tr>
            <tr>
                <td>Adresse 3 (Address 3)</td>
                <td>-</td>
                <td>Address.Address3</td>
                <td></td>
                <td><span class="wrapcomment">Samles i "adresse"</span></td>
            </tr>
            <tr>
                <td>Postnr. (Postal code)</td>
                <td>Postnr.</td>
                <td>Address.ZipCode</td>
                <td>Postcode</td>
                <td></td>
            </tr>
            <tr>
                <td>By (City)</td>
                <td>By</td>
                <td>Address.City</td>
                <td>City</td>
                <td></td>
            </tr>
            <tr>
                <td>Stat (State)</td>
                <td>-</td>
                <td>Address.State</td>
                <td>-</td>
                <td></td>
            </tr>
            <tr>
                <td>Land (Country)</td>
                <td>Land</td>
                <td>Address.Country</td>
                <td>Country</td>
                <td><span class="wrapcomment">Kommer fra kundekortet</span></td>
            </tr>
            <tr class="info">
                <td>CVR-nr. (VAT no.)</td>
                <td>CVR-nr.</td>
                <td>VATNo</td>
                <td>CINumber</td>
                <td></td>
            </tr>
            <tr>
                <td>Giro-nr. (Giro no.)</td>
                <td>-</td>
                <td>Giro</td>
                <td>-</td>
                <td><span class="wrapcomment"></span></td>
            </tr>
            <tr>
                <td>Organistation nr.</td>
                <td>-</td>
                <td>OrganizationNo</td>
                <td>-</td>
                <td><span class="wrapcomment">Benyttes kun i svenske TimeLog installationer</span></td>
            </tr>
            <tr>
                <td>Valuta (Currency)</td>
                <td>Valuta</td>
                <td>Currency</td>
                <td>Currency</td>
                <td><span class="wrapcomment">e-conomic valuta hentes fra kundens valuta kode</span></td>
            </tr>
            <tr>
                <td>EAN-nr. (EAN no.)</td>
                <td>EAN-nr.</td>
                <td>EAN</td>
                <td>Ean</td>
                <td><span class="wrapcomment"></span></td>
            </tr>
            <tr>
                <td>-</td>
                <td>-<td>
                <td>ExternalKey</td>
                <td>Customer.GUID</td>
                <td><span class="wrapcomment">Bliver ikke overført. Benyttes til sammenkædning af kundenavne</span></td>
            </tr>
        </tbody>
    </table>
</div>

<h3 id="mapping-contacts">Kontaktpersoner (Contact persons)</h3>
<p>Kontaktpersoner hos kunderne, overføres kun sammen med en bogført faktura til e-conomic.</p>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Feltnavne</th>
                    <th colspan="2">Tekniske navne</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>e-conomic</th>
                    <th>TimeLog</th>
                    <th>e-conomic</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fornavn (First name)</td>
                    <td>Navn</td>
                    <td>FirstName</td>
                    <td>Name</td>
                    <td><span class="wrapcomment">Samlet i "Name"</span></td>
                </tr>
                <tr>
                    <td>Efternavn (Last name)</td>
                    <td>Navn</td>
                    <td>LastName</td>
                    <td>Name</td>
                    <td><span class="wrapcomment">Samlet i "Name"</span></td>
                </tr>
                <tr>
                    <td>Telefon (Phone)</td>
                    <td>Telefon</td>
                    <td>Phone</td>
                    <td>TelephoneNumber</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>E-mail (Email)</td>
                    <td>E-mail</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Min kommentar (Your comment)</td>
                    <td>Bemærkning</td>
                    <td>Comment</td>
                    <td>Comments</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Adresse(Address)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Adresse 2 (Address 2)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Adresse 3 (Address 3)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Postnr. (Postal code)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>By (City)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Stat (State)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Kunde (Customer)</td>
                    <td>-</td>
                    <td>ExternalID</td>
                    <td>Debtor</td>
                    <td><span class="wrapcomment">Debitor i e-conomic er sammenkædet via externalKey på sammenkædede kunder</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3 id="mapping-productnumbers">Varenumre (Product numbers)</h3>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Feltnavne</th>
                    <th colspan="2">Tekniske navne</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>e-conomic</th>
                    <th>TimeLog</th>
                    <th>e-conomic</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nr. (No.)</td>
                    <td>Nr.</td>
                    <td>ProuctNo</td>
                    <td>Number</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Navn (Name)</td>
                    <td>Beskrivelse</td>
                    <td>Name</td>
                    <td>Name</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
            </tbody>
        </table>
    </div>

<h3 id="mapping-employees">Medarbejdere (Employees)</h3>
<p>Medarbejdere i TimeLog bliver kun overført sammen med fakturaer, hvis de er angivet som intern reference på fakturaen.</p>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Feltnavne</th>
                    <th colspan="2">Tekniske navne</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>e-conomic</th>
                    <th>TimeLog</th>
                    <th>e-conomic</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>Fornavn (First name)</td>
                    <td>Navn</td>
                    <td>Name</td>
                    <td>Name</td>
                    <td><span class="wrapcomment">Navn er det fulde navn i e-conomic</span></td>
                </tr>
                <tr>
                    <td>Efternavn (Last name)</td>
                    <td>Navn</td>
                    <td>Name</td>
                    <td>Name</td>
                    <td><span class="wrapcomment">Navn er det fulde navn i e-conomic</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Group</td>
                    <td>-</td>
                    <td>Group</td>
                    <td><span class="wrapcomment">Valgte medarbejdergruppe I integrationsopsætningen</span></td>
                </tr>
                <tr class="info">
                    <td>-</td>
                    <td>No.</td>
                    <td>ExternalKey</td>
                    <td>Number</td>
                    <td><span class="wrapcomment">Vises ikke og benyttes til sammenkædning af medarbejdere</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 id="mapping-invoices">Fakturaer (Invoices)</h3>
    <div class="bs-example">

        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Feltnavne</th>
                    <th colspan="2">Tekniske navne</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>e-conomic</th>
                    <th>TimeLog</th>
                    <th>e-conomic</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fakturanr. (Invoice no.)</td>
                    <td>-</td>
                    <td>InvoiceNo</td>
                    <td>OtherReference</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Kundenr. (Customer no.)</td>
                    <td>Kundenr.</td>
                    <td>CustomerKey</td>
                    <td>CustomerNumber</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>

                <tr>
                    <td>Kontaktperson nr. (Contact)</td>
                    <td>-</td>
                    <td>ContactKey</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Kommer i forbindelser med valg af kunde</span></td>
                </tr>
                <tr>
                    <td>Fakturaadresse, kundeadresse (Invoice adress, Customer address)</td>
                    <td>-</td>
                    <td>FixedCustomerName</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Bestemt af valgt på fakturakladde i TimeLog</span></td>
                </tr>

                <tr>
                    <td>Fakturaadresse, kontaktperson (Invoice address, contact person)</td>
                    <td>-</td>
                    <td>FixedAttContactFullName</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Bestemt af valgt på fakturakladde i TimeLog</span></td>
                </tr>
                <tr>
                    <td>Fakturadato (Invoice date)</td>
                    <td>Dato</td>
                    <td>InvoiceDate</td>
                    <td>Date</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Fakturaafdeling (Department)</td>
                    <td>-</td>
                    <td></td>
                    <td>-</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Projektnavn (Project name)</td>
                    <td>-</td>
                    <td>Details.ProjectHeader.Name</td>
                    <td>-</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Projektnr. (Project no.)</td>
                    <td>Projektnr.</td>
                    <td>Details.ProjectHeader.No</td>
                    <td>Project</td>
                    <td><span class="wrapcomment">e-conomic accepterer kun tal i projektnummer</span></td>
                </tr>
                <tr>
                    <td>Rekvisionsnr. (P.O. no.)</td>
                    <td>Tekst 1</td>
                    <td>Message + RequisitionNo</td>
                    <td>TextLine1</td>
                    <td><span class="wrapcomment">Samlet i "TextLine1" - 1000 karaktere maks.</span></td>
                </tr>
                <tr>
                    <td>Kundens ref. (Customers ref)</td>
                    <td>Deres reference</td>
                    <td>CustomerReference</td>
                    <td>YourReference</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Intern reference (Internal reference)</td>
                    <td>Vores reference</td>
                    <td>Details.InternalReference</td>
                    <td>SalesPersonCode</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>EAN</td>
                    <td>EAN-nr.</td>
                    <td>EAN</td>
                    <td>EAN</td>
                    <td><span class="wrapcomment">Et specifikt EAN nr. kan tilføjes i rekvisitions nr.  Nummeret skal starte med “EAN” for at blive overført. Hvis feltet er tomt, benyttes feltet EAN ved overførslen.</span></td>
                </tr>
                <tr>
                    <td>Fakturaadresse: (address 1)</td>
                    <td>-</td>
                    <td>FixedAddress1</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Samlet i "Adresse"</span></td>
                </tr>
                <tr>
                    <td>Fakturaadresse: (address 2)</td>
                    <td>-</td>
                    <td>FixedAddress2</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Samlet i "Adresse"</span></td>
                </tr>
                <tr>
                    <td>Fakturaadresse: (address 3)</td>
                    <td>-</td>
                    <td>FixedAddress3</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Samlet i "Adresse"</span></td>
                </tr>
                <tr>
                    <td>By (City)</td>
                    <td>-</td>
                    <td>FixedCity</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Samlet i "Adresse"</span></td>
                </tr>
                <tr>
                    <td>Postnr. (Postal code)</td>
                    <td>-</td>
                    <td>FixedZipCode</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Samlet i "Adresse"</span></td>
                </tr>
                <tr>
                    <td>Land (Country)</td>
                    <td>-</td>
                    <td>FixedCountryISO</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Samlet i "Adresse"</span></td>
                </tr>
                <tr>
                    <td>Overskrift (Heading)</td>
                    <td>Overskrift</td>
                    <td>Header</td>
                    <td>Heading</td>
                    <td><span class="wrapcomment">Tekst over 250 karaktere kan ikke overføres</span></td>
                </tr>
                <tr>
                    <td>Besked (Message)</td>
                    <td>Tekst 1</td>
                    <td>Message</td>
                    <td>TextLine1</td>
                    <td><span class="wrapcomment">Samlet i "TextLine1" - 1000 karakterer. Indeholder både rekvisionsnr og besked.</span></td>
                </tr>
                <tr>
                    <td>Betalingsbetingelser (Payment terms)</td>
                    <td>Betingelser</td>
                    <td>-</td>
                    <td>PaymentTerms</td>
                    <td><span class="wrapcomment">Overføres ikke. E-conomic betalingsbetingelse på kunden tilføjes fakturaen af e-conomic</span></td>
                </tr>
                <tr>
                    <td>Betalingsfrist (Due date)</td>
                    <td>Dato</td>
                    <td>DueDate</td>
                    <td>DueDate</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Valuta (Currency)</td>
                    <td>Valuta</td>
                    <td>CurrencyISO</td>
                    <td>CurrencyCode</td>
                    <td><span class="wrapcomment">Forkortelse af valuta på fakturaen</span></td>
                </tr>
                <tr>
                    <td>Standard rabat % (Default discount %)</td>
                    <td>-</td>
                    <td>DefaulDiscount</td>
                    <td>InvoiceDiscCode</td>
                    <td><span class="wrapcomment">Overføres ikke</span></td>
                </tr>
                <tr>
                    <td>Moms % (Default VAT %)</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Overføres ikke. E-conomic tilføjer kundens betalingsbetingelse</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3 id="mapping-invoicelines">Fakturalinjer (Invoice lines)</h3>
    <div class="bs-example">

        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Feltnavne</th>
                    <th colspan="2">Tekniske navne</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>e-conomic</th>
                    <th>TimeLog</th>
                    <th>e-conomic</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Varenr. (Product no.)</td>
                    <td>Varenr.</td>
                    <td>ProductNo</td>
                    <td>Product</td>
                    <td><span class="wrapcomment">Er importeret fra e-conomic (Product no)</span></td>
                </tr>
                <tr>
                    <td>Beskrivelse (Description)</td>
                    <td>Varernavn</td>
                    <td>Text</td>
                    <td>Description</td>
                    <td><span class="wrapcomment">Ubegrænset karaktere</span></td>
                </tr>

                <tr>
                    <td>Antal (Quantitty)</td>
                    <td>Antal</td>
                    <td>Quantity</td>
                    <td>Quantity</td>
                    <td><span class="wrapcomment">e-conomic tillader ikke antal til at være 0. Hvis det skal være 0 skal "sats" være 0 istedet.</span></td>
                </tr>
                <tr>
                    <td>Enhed (Unit)</td>
                    <td>Enhed</td>
                    <td>Unit</td>
                    <td>Unit</td>
                    <td><span class="wrapcomment">Overføres ikke. e-conomic enhed på varenummer benyttes.</span></td>
                </tr>
                <tr>
                    <td>Sats (rate)</td>
                    <td>Pris</td>
                    <td>Rate</td>
                    <td>UnitNetPrice</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>% (%)</td>
                    <td>Rabat i %</td>
                    <td>Discount</td>
                    <td>DiscountAsPercent</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>

            </tbody>
        </table>
    </div>
    <h3 id="mapping-expenses">Import af udgifter (Import of expenses)</h3>
    <div class="bs-example">

        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Feltnavne</th>
                    <th colspan="2">Tekniske navne</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>e-conomic</th>
                    <th>TimeLog</th>
                    <th>e-conomic</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="info">
                    <td>-</td>
                    <td></td>
                    <td>ExternalID</td>
                    <td>EntryNumber</td>
                    <td><span class="wrapcomment">Benyttes af TimeLog til log information</span></td>
                </tr>

                <tr>
                    <td>Dato (Date)</td>
                    <td>-</td>
                    <td>Created</td>
                    <td>Date</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Valuta (Currency)</td>
                    <td>Valuta</td>
                    <td>CurrencyID</td>
                    <td>Currency</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Valutakurs (Exchange rate)</td>
                    <td>Kurs</td>
                    <td>ExchangeRate</td>
                    <td>Currency</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Betalingsform (Payment method)</td>
                    <td>-</td>
                    <td>PaymentMethod</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Standard betalingsform kommer fra TimeLog opsætning</span></td>
                </tr>
                <tr>
                    <td>Dato (Date)</td>
                    <td>Dato</td>
                    <td>PurchaseDate</td>
                    <td>Date</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Projekt (Project)</td>
                    <td>-</td>
                    <td>ProjectID</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Overføres kun, hvis udgiften tilhører et projekt i e-conomic</span></td>
                </tr>
                <tr>
                    <td>Beløb inkl. moms (Amount incl. VAT)</td>
                    <td>Beløb</td>
                    <td>PurchasedAmount</td>
                    <td>Amount</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Moms (VAT)</td>
                    <td>Moms</td>
                    <td>VATIncluded</td>
                    <td>-</td>
                    <td><span class="wrapcomment">Er altid sat til 0,00. Importerede udgifter er altid inkl. moms</span></td>
                </tr>
                <tr>
                    <td>Kommentar (Comment)</td>
                    <td>Tekst</td>
                    <td>Comment</td>
                    <td>entry.Account.AccountNumber</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Entry</td>
                    <td>InvoiceNo</td>
                    <td>VoucherNumber</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3 id="mapping-expenses">Projekter (Projects)</h3>
    <div class="bs-example">

        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Feltnavne</th>
                    <th colspan="2">Tekniske navne</th>
                </tr>
                <tr>
                    <th>TimeLog</th>
                    <th>e-conomic</th>
                    <th>TimeLog</th>
                    <th>e-conomic</th>
                    <th>Kommentar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="info">
                    <td>-</td>
                    <td></td>
                    <td>ExternalID</td>
                    <td>ProjectNo</td>
                    <td><span class="wrapcomment">Benyttes af TimeLog til log information</span></td>
                </tr>

                <tr>
                    <td>Navn (Name)</td>
                    <td>Navn</td>
                    <td>Name</td>
                    <td>Name</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Beskrivelse (Description)</td>
                    <td>Projektbeskrivelse</td>
                    <td>Description</td>
                    <td>Description</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
              
            </tbody>
        </table>
    </div>
</article>