
@{
    ViewBag.Title = "Exact Online";
    Layout = "../Shared/_Layout_Single_Column.cshtml";

}
<article class="article">
    <h1>@ViewBag.Title</h1>
    <h2>Introduction</h2>
    <p>
        The integration between TimeLog Project and Exact Online consists of partial integrations that provide seamless cooperation between the two systems.
        The integration consists of the following features:
        <ul>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Automatic transfer of customers from TimeLog Project to Exact Online</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Automatic transfer of contacts from TimeLog Project to Exact Online</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Automatic update of customer and contact information in Exact Online</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Synchronisation of product numbers between TimeLog Project and Exact Online</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Automatic transfer of invoices from TimeLog Project to Exact Online</li>
            <li style="text-indent: 20px;" class="icon-arrow_in_circle">Invoice balancing between TimeLog Project and Exact Online</li>
        </ul>
    </p>
    <br />
    <h2>Features</h2>
    <p>This section includes a list of features and limitations to each transfer area of the integration.</p>
    <h3>Currencies</h3>
    <p>
        TimeLog Project does not create the currency in Exact Online if it does not exist. Therefore, make sure that all the currencies used in TimeLog Project are created in Exact Online.
        The invoice will not transfer if the currency is not present in Exact Online.
    </p>
    <h3>Sales journal</h3>
    <p>
        TimeLog Project transfers the currency of the invoice to Exact Online.
        For this to succeed, the sales journal used for invoice transferal in Exact Online must have enabled variable currency.
    </p>
    <h3>Customers</h3>
    <p>
        Customers can be transferred to AND from TLP and Exact Online.
        To transfer customers from TimeLog Project to Exact Online and link customer pairs, the customer number in TimeLog Project must only consist of numbers.
        Exact Online does not accept special characters in customer numbers.
    </p>
    <h3>Contact</h3>
    <p>
        Contacts can be transferred to AND from TLP and Exact Online.
    </p>
    <h3>Product numbers</h3>
    <p>
        Product numbers can only be transferred from Exact Online to TLP. Note that they are not transferred automatically.
        An system administrator will have to go to the system administration > integrations and choose to import them manually.
        In order to successfully use the product items from Exact Online in TimeLog Project, you have to make sure that your item in Exact Online are divisible.
        Time in TimeLog Project is (usually) noted with decimals. This ensures that the decimals can be transferred to Exact Online.
    </p>
    <h3>Employees</h3>
    <p>Employees can not be created in Exact Online from TLP. If an employee is not present in Exat Online a systemadministrator in Exact Online will have to add the employee.</p>
    <h3>Invoices</h3>
    <p>Only booked invoices can be transferred from TLP to Exact Online. Invoices are transferred as drafts. Changes in invoice drafts inside Exact Online will not be reflected in TLP.</p>
    <h3>Invoice lines</h3>
    <p>Invoice lines are transferred along with the invoice. Invoice lines can be modified in Exact Online and addition line can be added. Changes will not be reflected in TLP.</p>
    <h3>Expenses</h3>
    <p>Expenses can only be transferred from Exact Online to TLP. </p>
    <h3>Projects</h3>
    <p>Not part of the integration.</p>
    <h3>Tasks</h3>
    <p>Not part of the integration.</p>
    <h3>Allocations</h3>
    <p>Not part of the integration.</p>
    <h3>Registrations</h3>
    <p>Not part of the integration.</p>
    <br />
    <h2>Mapping</h2>
    <p>This section contains the explicit mapping of fields between TLP and Exact Online.</p>

    <h3 id="mapping-customers">Customers</h3>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Field name</th>
                    <th colspan="2">Technical name</th>
                </tr>
                <tr>
                    <th>TLP</th>
                    <th>Exact Online</th>
                    <th>TLP</th>
                    <th>Exact Online</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Address</td>
                    <td>Address</td>
                    <td>Address.Address</td>
                    <td>AddressLine1</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Address 2</td>
                    <td>-</td>
                    <td>Address.Address2</td>
                    <td>AddressLine2</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Address 3</td>
                    <td>-</td>
                    <td>Address.Address3</td>
                    <td>AddressLine3</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>City</td>
                    <td>Address.City</td>
                    <td>City</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>Country</td>
                    <td>Country.ISO</td>
                    <td>Country</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>Currency</td>
                    <td>Currency.ABB</td>
                    <td>SalesCurrency</td>
                    <td><span class="wrapcomment">Currency abbreviation (eg. USD)</span></td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>Type</td>
                    <td>-</td>
                    <td>Status</td>
                    <td><span class="wrapcomment">Is always set to C. Equals customer in Exact Online</span></td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>E-mail</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr class="info">
                    <td>-</td>
                    <td>Code</td>
                    <td>ExternalKey</td>
                    <td>Code</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Fax</td>
                    <td>-</td>
                    <td>Fax</td>
                    <td>Fax</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>ID</td>
                    <td><span class="wrapcomment">Always a new guid when transfered to Exact Online</span></td>
                </tr>
                <tr>
                <tr>
                    <td>Company name</td>
                    <td>Name</td>
                    <td>Name</td>
                    <td>Name</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>Phone</td>
                    <td>Phone</td>
                    <td>Phone</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>VAT no</td>
                    <td>VAT number</td>
                    <td>VatNo</td>
                    <td>VATNumber</td>
                    <td><span class="wrapcomment">Exact Online connects to the Chamber of Commerce and VAT no. are validated through there. Customer transfer fail if VAT no. validatioin fails</span></td>
                </tr>
                <tr>
                    <td>VAT %</td>
                    <td>-</td>
                    <td>VATPercent</td>
                    <td></td>
                    <td><span class="wrapcomment">Is not transferred. Is applied customer in Exact Online based on setting there</span></td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td>Website</td>
                    <td>Website</td>
                    <td>Website</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Postal code</td>
                    <td>Postcode</td>
                    <td>Address.ZipCode</td>
                    <td>Postcode</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 id="mapping-contacts">Contact</h3>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Field name</th>
                    <th colspan="2">Technical name</th>
                </tr>
                <tr>
                    <th>TLP</th>
                    <th>Exact Online</th>
                    <th>TLP</th>
                    <th>Exact Online</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Your comment</td>
                    <td>Remarks</td>
                    <td>Comments</td>
                    <td>Notes</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Customer</td>
                    <td>Account</td>
                    <td>ExternalID</td>
                    <td>Account.ID</td>
                    <td><span class="wrapcomment">The account ID from Exact Online is retrieved basen on the externalKey mapping in TLP</span></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>E-mail</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr class="info">
                    <td>-</td>
                    <td>-</td>
                    <td>ExternalID</td>
                    <td>ID</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>First name</td>
                    <td>First name</td>
                    <td>FirstName</td>
                    <td>FirstName</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>ID</td>
                    <td><span class="wrapcomment">Always a new guid when transfered to Exact Online</span></td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>Last name</td>
                    <td>LastName</td>
                    <td>LastName</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>Phone</td>
                    <td>Phone</td>
                    <td>Phone</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>

            </tbody>
        </table>
    </div>
    <h3 id="mapping-productnumbers">Product numbers</h3>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Field name</th>
                    <th colspan="2">Technical name</th>
                </tr>
                <tr>
                    <th>TLP</th>
                    <th>Exact Online</th>
                    <th>TLP</th>
                    <th>Exact Online</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>No.</td>
                    <td>Code</td>
                    <td>ProductNo</td>
                    <td>Code</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 id="mapping-employees">Employees (Sales person)</h3>
    <p>Mapping is only used to retrieve sales person from Exact Online. Employees can not be inserted/updated from TLP.</p>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Field name</th>
                    <th colspan="2">Technical name</th>
                </tr>
                <tr>
                    <th>TLP</th>
                    <th>Exact Online</th>
                    <th>TLP</th>
                    <th>Exact Online</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Email</td>
                    <td>E-mail</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr class="info">
                    <td>-</td>
                    <td>ID</td>
                    <td>ExternalKey</td>
                    <td>UserID</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>First name</td>
                    <td>First name</td>
                    <td>Firstname</td>
                    <td>Firstname</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>Last name</td>
                    <td>Lastname</td>
                    <td>Lastname</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 id="mapping-invoices">Invoices</h3>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Field name</th>
                    <th colspan="2">Technical name</th>
                </tr>
                <tr>
                    <th>TLP</th>
                    <th>Exact Online</th>
                    <th>TLP</th>
                    <th>Exact Online</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr class="info">
                    <td>-</td>
                    <td>Order number</td>
                    <td>ExternalKey</td>
                    <td>InvoiceID</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Internal reference</td>
                    <td>Sales person</td>
                    <td>-</td>
                    <td>Salesperson</td>
                    <td><span class="wrapcomment">Employee GUID from Exact Online. Is retreived from Exact Online based on the InternalReference employee attached on invoice in TLP</span></td>
                </tr>
                <tr>
                    <td>Heading</td>
                    <td>Description</td>
                    <td>Header</td>
                    <td>Description</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>Exchange rate</td>
                    <td>Details.Currency.Abbreviation</td>
                    <td>Currency</td>
                    <td><span class="wrapcomment">Abbreviation of the currency from the invoice in TLP</span></td>
                </tr>
                <tr>
                    <td>Invoice date</td>
                    <td>Order date</td>
                    <td>InvoiceDate</td>
                    <td>OrderDate</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>Journal</td>
                    <td></td>
                    <td>Journal</td>
                    <td><span class="wrapcomment">Sales journal in Exact Online. Is set in TLP during the configuration of the integration</span></td>
                </tr>
                <tr>
                    <td>Customer</td>
                    <td>Ordered by</td>
                    <td>ExternalKey</td>
                    <td>OrderedBy</td>
                    <td><span class="wrapcomment">Account GUID is retrieved from Exact Online based on the customer externalKey</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Payment condition</td>
                    <td></td>
                    <td>PaymentCondition</td>
                    <td><span class="wrapcomment">Account paymentConditionSales is retrieved from Exact Online based on the customer externalKey</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Type</td>
                    <td></td>
                    <td>Type</td>
                    <td><span class="wrapcomment">Exact value to indicate if it is an invoice or creditnote. 8020 = invoice, 8021 = credit note</span></td>
                </tr>
                <tr>
                    <td>Invoice no.</td>
                    <td>Remarks</td>
                    <td>InvoiceNo</td>
                    <td>Remarks</td>
                    <td><span class="wrapcomment">TLP invoice no. is saved under remarks in Exact Online</span></td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>Your ref.</td>
                    <td>ProjectManager.Fullname</td>
                    <td>YourRef</td>
                    <td><span class="wrapcomment">If a project is attached to the invoice in TLP the project manager is set as yourRef in Exact Online</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 id="mapping-invoicelines">Invoice lines</h3>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Field name</th>
                    <th colspan="2">Technical name</th>
                </tr>
                <tr>
                    <th>TLP</th>
                    <th>Exact Online</th>
                    <th>TLP</th>
                    <th>Exact Online</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Amount</td>
                    <td>Net price</td>
                    <td>Amount</td>
                    <td>AmountFC</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Product no.</td>
                    <td>Item</td>
                    <td>ProductNo</td>
                    <td>Item.ID</td>
                    <td><span class="wrapcomment">Item is retrieved from Exact Online basen on the productNo</span></td>
                </tr>
                <tr>
                    <td>Quantity</td>
                    <td>Quantity</td>
                    <td>Quantity</td>
                    <td>Quantity</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Rate</td>
                    <td>Unit price</td>
                    <td>Rate</td>
                    <td>UnitPrice</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>%</td>
                    <td>Discount (%)</td>
                    <td>Discount</td>
                    <td>Discount</td>
                    <td><span class="wrapcomment">Discount in TLP must be divided by 100 to fit Exact Online Format</span></td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td>Notes</td>
                    <td>Comment</td>
                    <td>Notes</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 id="mapping-expenses">Expenses</h3>
    <div class="bs-example">
        <table style="width: 100%" class="mapping_table">
            <thead>
                <tr>
                    <th colspan="2">Field name</th>
                    <th colspan="2">Technical name</th>
                </tr>
                <tr>
                    <th>TLP</th>
                    <th>Exact Online</th>
                    <th>TLP</th>
                    <th>Exact Online</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr class="info">
                    <td>-</td>
                    <td></td>
                    <td>ExternalKey</td>
                    <td>EntryID</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Customer</td>
                    <td>Supplier</td>
                    <td>CustomerID</td>
                    <td>SupplierName</td>
                    <td><span class="wrapcomment">If a customer can be found in TLP based on the supplierName on the purchaseEntry this customer will be applied as supplier</span></td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td>Description</td>
                    <td>Comment</td>
                    <td>Description</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>Exchange rate</td>
                    <td>CurrencyID</td>
                    <td>Currency</td>
                    <td><span class="wrapcomment">Currency on purchaseEntry is ABB. Currency in TLP is found from ABB and currency.ID is used on expense</span></td>
                </tr>
                <tr>
                    <td>(Currency)</td>
                    <td>Exchange rate</td>
                    <td>ExchangeRate</td>
                    <td></td>
                    <td><span class="wrapcomment">ExchangeRate is retrived from the currency in TLP</span></td>
                </tr>
                <tr>
                    <td>No.</td>
                    <td>Entry number</td>
                    <td>DisbursementNo</td>
                    <td>EntryNumber</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>Entry number</td>
                    <td>ExternalID</td>
                    <td>EntryNumber</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>Payment reference</td>
                    <td>InvoiceNo</td>
                    <td>InvoiceNumber</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Payment method</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="wrapcomment">Default paymentmethod for import of expenses is set in TLP</span></td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>Invoice date</td>
                    <td>PurchaseDate</td>
                    <td>EntryDate</td>
                    <td><span class="wrapcomment"></span></td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>Project</td>
                    <td>ProjectID</td>
                    <td>Project</td>
                    <td><span class="wrapcomment">A project can be added to the purchaseEntryLines in Exact Online. IF TLP can match the project no to a project in TLP the project will be applied to the expense</span></td>
                </tr>
                <tr>
                    <td>Amount incl. VAT</td>
                    <td>Amount</td>
                    <td>PurchasedAmount</td>
                    <td>AmountFC</td>
                    <td><span class="wrapcomment">Amount for expense is negativ in TLP</span></td>
                </tr>
                <tr>
                    <td>VAT</td>
                    <td>VAT amount</td>
                    <td>VATIncluded</td>
                    <td>VATAmountFC</td>
                    <td><span class="wrapcomment">Amount for expense is negativ in TLP</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
