@{
    ViewBag.Title = "Financial Integrations";
}

<article class="article">

    <h1>@ViewBag.Title</h1>
    <h2>
        These pages are placeholders for our documentation of the usage of financial integrations
        with TimeLog Project
    </h2>
</article>

@section sidebar
{
    
}
