@{
    ViewBag.Title = "Financial Integrations - Preinstall document for IT";
    Layout = "../Shared/_Layout_Single_Column.cshtml";
}
<article class="article">

    <h1>Preinstall document for NAV partner</h1>
    <h2>
        This document outlines the requirements and information necessary for TimeLog to carry out the install
        and configuration of the FinancialHost middleware in the best and fastest possible way.
    </h2>
    <p>This document should be prefilled by personel of the NAV partner of the customer.</p>
    <ul class="arrows">
        <li><a href="#">Download this page as a Word document</a></li>
    </ul>

    <div class="bs-example">

        <table style="width: 100%;" class="setting_table">
            <colgroup>
                <col style="width: 70%" />
                <col />
            </colgroup>
            <tbody>
                <tr class="tablespacer">
                    <td>Navision environment</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Is a staging/test environment required?</td>
                    <td>&#x25a2; Yes &#x25a2; No</td>
                </tr>
            <tr>
                <td>- If yes, state server name for test environment</td>
                <td></td>
            </tr>
            <tr>
                <td>- If yes, state database name for test environment</td>
                <td></td>
            </tr>
            <tr>
                <td>- If yes, state username for test environment NAV-user</td>
                <td></td>
            </tr>
                <tr>
                    <td>- If yes, state password for test environment NAV-user</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Production environment</td>
                    <td></td>                    
                </tr>
                <tr>
                    <td>- State server name for production environment</td>
                    <td></td>
                </tr>
            <tr>
                <td>- State database name for production environment</td>
                <td></td>
            </tr>
            <tr>
                <td>- State username for production environment NAV-user</td>
                <td></td>
            </tr>
            <tr>
                <td>- State password for production environment NAV-user</td>
                <td></td>
            </tr>
                
                <tr class="tablespacer">
                    <td>Navision details</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Navision invoiceline type</td>
                    <td></td>

                </tr>
                <tr>
                    <td>- state the default invoiceline type used in NAV</td>
                    <td></td>

                </tr>
                <tr>
                    <td>Global dimensions</td>
                    <td></td>
                </tr>
                <tr>
                    <td>- Navision Global Dimension 1</td>
                    <td></td>
                </tr>
            <tr>
                <td>- Navision Global Dimension 2</td>
                <td></td>
            </tr>
                <tr>
                    <td>Document sending profile</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Is document sending profiles enabled on customers?</td>
                    <td>&#x25a2; Yes &#x25a2; No</td>
                </tr>

            </tbody>
        </table>
    </div>

</article>