@{
    ViewBag.Title = "Financial Integrations - Preinstall document for the customer";
    Layout = "../Shared/_Layout_Single_Column.cshtml";
}
<article class="article">
    <h1>Preinstall document for the customer</h1>
    <h2>
        This document outlines the requirements and information necessary for TimeLog to carry out the install
        and configuration of the FinancialHost middleware in the best and fastest possible way.
    </h2>
    <p>This document should be prefilled by the customer CFO and/or ERP responsible.</p>
    <ul class="arrows">
        <li><a href="#">Download this page as a Word document</a></li>
    </ul>
    <div class="bs-example">
        <table style="width: 100%;" class="setting_table">
            <colgroup>
                <col style="width: 70%" />
                <col />
            </colgroup>
            <tbody>
                <tr class="tablespacer">
                    <td>Contact details</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Primary contact for questions regarding integration flows (name, phone and email)</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Secondary contact for questions regarding integration flows (name, phone and email)</td>
                    <td></td>
                </tr>
                <tr class="tablespacer">
                    <td>Navision integration settings</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Should an extended invoice specification (PDF) be attached to NAV invoices?</td>
                    <td>&#x25a2; Yes &#x25a2; No</td>
                </tr>
                <tr class="tablespacer">
                    <td>Default values</td>
                    <td></td>
                </tr>
                <tr>
                    <td>State default country when importing customers to TimeLog Project</td>
                    <td>
                        &#x25a2; DK<br />
                        &#x25a2; SE<br />
                        &#x25a2; UK<br/>
                        &#x25a2; Other:
                    </td>
                </tr>
                <tr>
                    <td>State default VAT percent</td>
                    <td>
                        &#x25a2; 25%<br />
                        &#x25a2; Other:
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>