@{
    ViewBag.Title = "Financial Integrations - Preinstall document for IT";
    Layout = "../Shared/_Layout_Single_Column.cshtml";
}
<article class="article">

    <h1>Preinstall document for NAV partner</h1>
    <h2>
        This document outlines the requirements and information necessary for TimeLog to carry out the install
        and configuration of the FinancialHost middleware in the best and fastest possible way.
    </h2>
    <p>This document should be prefilled by personel of the NAV partner of the customer.</p>
    <ul class="arrows">
        <li><a href="#">Download this page as a Word document</a></li>
    </ul>

    <div class="bs-example">

        <table style="width: 100%;" class="setting_table">
            <colgroup>
                <col style="width: 70%" />
                <col />
            </colgroup>
            <tbody>
                <tr class="tablespacer">
                    <td>Navision integration settings</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Is invoice specification (pfd) transfer required?</td>
                    <td>&#x25a2; Yes &#x25a2; No</td>
                </tr>
                <tr>
                    <td>- If yes, state folder path on NAV server for placing pdf-files</td>
                    <td></td>
                </tr>

                <tr class="tablespacer">
                    <td>Default values</td>
                    <td></td>
                </tr>
            <tr>
                    <td>State default country when importing customers to TimeLog Project</td>
                    <td></td>
                </tr>
                <tr>
                    <td>State default VAT percent</td>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>

</article>