@{
    ViewBag.Title = "Financial Integrations - Preinstall document for the IT administrator";
    Layout = "../Shared/_Layout_Single_Column.cshtml";
}
<article class="article">

    <h1>Preinstall document for the IT administrator</h1>
    <h2>
        This document outlines the requirements and information necessary for the TimeLog to carry out the install
        and configuration of the FinancialHost middleware in the best and fastest possible way.
    </h2>
    <p>This document should be prefilled by personal of the internal IT of the customer.</p>
    @*<ul class="arrows">
            <li><a href="#">Download this page as a Word document</a></li>
        </ul>*@
    <table style="width: 100%;" class="setting_table">
        <colgroup>
            <col style="width: 70%" />
            <col />
        </colgroup>
        <tbody>
            <tr class="tablespacer">
                <td>Contact details</td>
                <td></td>
            </tr>
            <tr>
                <td>Primary IT contact during install (name, title, phone and email)</td>
                <td></td>
            </tr>
            <tr>
                <td>Primary IT contact for maintenance (name, title, phone and email)</td>
                <td></td>
            </tr>
            <tr class="tablespacer">
                <td>Remote Access</td>
                <td></td>
            </tr>
            <tr>
                <td>Is VPN required to get remote access to servers?</td>
                <td>&#x25a2; Yes &#x25a2; No</td>
            </tr>
            <tr>
                <td>- State download link for VPN client software</td>
                <td></td>
            </tr>
            <tr>
                <td>- State connection details (e.g. IP address, port)</td>
                <td></td>
            </tr>
            <tr>
                <td>- State VPN user name and password</td>
                <td></td>
            </tr>
            <tr>
                <td>- Optionally, state other policies or 2FA details</td>
                <td></td>
            </tr>
            <tr class="tablespacer">
                <td>Firewall, DNS and security setup</td>
                <td></td>
            </tr>
            <tr>
                <td>Is SSL encryption required between TimeLog Project and the middleware?</td>
                <td>&#x25a2; Yes &#x25a2; No</td>
            </tr>
            <tr>
                <td>- If yes, install SSL certificate to the IIS</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>- If yes, state the name of the certificate</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    - If yes, map/NAT connection on port TCP 443 to server(s)<br />
                    <i>Optionally the firewall can be locked down to only allow incoming connections from 77.66.20.149, 77.66.20.150, 77.66.20.151, 77.66.57.251, 77.66.57.252 or 217.63.101.214</i>
                </td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>- If yes, state public URL for accessing server(s). E.g. https://timelogintegration.contoso.com</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    - If no, map/NAT connection on port TCP 80 to server(s)<br />
                    <i>Optionally the firewall can be locked down to only allow incoming connections from 77.66.20.149, 77.66.20.150, 77.66.20.151, 77.66.57.251, 77.66.57.252 or 217.63.101.214</i>
                </td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>- If no, state public URL for accessing server(s). E.g. http://timelogintegration.contoso.com</td>
                <td></td>
            </tr>
            <tr>
                <td>Verify that public URL shows default IIS website splash</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr class="tablespacer">
                <td>User Access to servers</td>
                <td></td>
            </tr>
            <tr>
                <td>State domain, user name and password for the TimeLog user account</td>
                <td></td>
            </tr>
            <tr>
                <td>State password requirements and renew policies</td>
                <td></td>
            </tr>
            <tr>
                <td>Set TimeLog user account to never expire</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>Is a special service account required for the middleware?</td>
                <td>&#x25a2; Yes &#x25a2; No</td>
            </tr>
            <tr>
                <td>- State domain, user name and password for the service account</td>
                <td></td>
            </tr>
            <tr>
                <td>- Set TimeLog service account to never expire</td>
                <td>&#x25a2; Done</td>
            </tr>

            <tr class="tablespacer">
                <td>Production Environment</td>
                <td></td>
            </tr>
            <tr>
                <td>State the IP address of the production server</td>
                <td></td>
            </tr>
            <tr>
                <td>Enable RDP access</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>Add TimeLog user account as local administrator</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>State policies for reboot, restore, 3rd party installs etc. </td>
                <td></td>
            </tr>
            <tr>
                <td>Install standard Microsoft IIS 7.5 or later</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>Install Microsoft .NET framework 4.6.2 or later</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>Install <a href="http://www.7-zip.org/download.html">7-zip</a> 9.20 or later</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>Install <a href="http://www.textpad.com/download/#downloads">TextPad</a> 7 or later</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr class="tablespacer">
                <td>Staging Environment</td>
                <td></td>
            </tr>
            <tr>
                <td>Is a staging/test environment required?</td>
                <td>&#x25a2; Yes &#x25a2; No</td>
            </tr>
            <tr>
                <td>- State which of the two types of staging environment to use<br /><i>If more financial accounts is chosen skip the sub questions, because the middleware for staging environment is install in the production environment. </i></td>
                <td>&#x25a2; More servers <br /> &#x25a2; More financial accounts</td>
            </tr>
            <tr>
                <td>- State the IP address of the stating server</td>
                <td></td>
            </tr>
            <tr>
                <td>- Enable RDP access</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>- Add TimeLog user account as local administrator</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>- State policies for reboot, restore, 3rd party installs etc. </td>
                <td></td>
            </tr>
            <tr>
                <td>- Install standard Microsoft IIS 7.5 or later</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>- Install Microsoft .NET framework 4.6.2 or later</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>- Install <a href="http://www.7-zip.org/download.html">7-zip</a> 9.20 or later</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>- Install <a href="http://www.textpad.com/download/#downloads">TextPad</a> 7 or later</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr class="tablespacer">
                <td>Other configurations</td>
                <td></td>
            </tr>
            <tr>
                <td>State SMTP server address for automated error reporting</td>
                <td></td>
            </tr>
            <tr>
                <td>Optionally, state SMTP server policies for sender address, credentials etc.</td>
                <td></td>
            </tr>
        </tbody>
    </table>

</article>