@{
    ViewBag.Title = "Financial Integrations - Preinstall document for the customer";
    Layout = "../Shared/_Layout_Single_Column.cshtml";
}
<article class="article">
    <h1>Preinstall document for the customer</h1>
    <h2>
        This document outlines the requirements and information necessary for TimeLog to carry out the install
        and configuration of the FinancialHost middleware in the best and fastest possible way.
    </h2>
    <p>This document should be prefilled by the customer CFO and/or ERP responsible.</p>
    @*<ul class="arrows">
            <li><a href="#">Download this page as a Word document</a></li>
        </ul>*@
    <table style="width: 100%;" class="setting_table">
        <colgroup>
            <col style="width: 70%" />
            <col />
        </colgroup>
        <tbody>
            <tr class="tablespacer">
                <td>Contact Details</td>
                <td></td>
            </tr>
            <tr>
                <td>Primary contact for questions regarding integration flows (name, title, phone and email)</td>
                <td></td>
            </tr>
            <tr>
                <td>Secondary contact for questions regarding integration flows (name, title, phone and email)</td>
                <td></td>
            </tr>
            <tr>
                <td>Contact information to existing NAV partner</td>
                <td></td>
            </tr>
            <tr class="tablespacer">
                <td>Integration</td>
                <td></td>
            </tr>
            <tr>
                <td>Which exact version of NAV do you have?</td>
                <td>
                    &#x25a2; NAV 2013<br />
                    &#x25a2; NAV 2013 R2<br />
                    &#x25a2; NAV 2015<br />
                    &#x25a2; NAV 2016<br />
                    &#x25a2; NAV 2017<br />
                    &#x25a2; Other:
                </td>
            </tr>
            <tr>
                <td>Should an extended invoice specification (PDF) be attached to invoices?</td>
                <td>&#x25a2; Yes &#x25a2; No</td>
            </tr>
            <tr>
                <td>Which system should be master for customers and contacts?</td>
                <td>
                    &#x25a2; TimeLog<br />
                    &#x25a2; ERP<br />
                    &#x25a2; Both, sync both ways
                </td>
            </tr>
            <tr>
                <td>Which detail level (G/L or dimensions) are needed on for invoice lines?</td>
                <td></td>
            </tr>
            <tr>
                <td>Who in the organization has ownership of customer information?</td>
                <td></td>
            </tr>
            <tr>
                <td>Describe the current NAV invoicing flow (e.g. prepare a short step-by-step demo in your current setup)</td>
                <td></td>
            </tr>
            <tr>
                <td>Describe the current NAV IT infrastructure (e.g. cloud setup, dev-staging-production setup)</td>
                <td></td>
            </tr>
            <tr>
                <td>List all NAV dimensions related to sales transactions</td>
                <td>Global 1:<br />Global 2:<br />Other:</td>
            </tr>
            <tr>
                <td>Should expenses/supplier invoices be imported from NAV to TimeLog?</td>
                <td>
                    &#x25a2; Yes &#x25a2; No
                </td>
            </tr>
            <tr>
                <td>- If yes, state which G/L accounts these are posted on</td>
                <td></td>
            </tr>
            <tr class="tablespacer">
                <td>Default Values</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    State default country when importing customers to TimeLog<br />
                    <i>In the case, there the country abbreviation cannot be resolved between TimeLog and NAV</i>
                </td>
                <td>
                    &#x25a2; DK<br />
                    &#x25a2; SE<br />
                    &#x25a2; UK<br />
                    &#x25a2; Other:
                </td>
            </tr>
            <tr>
                <td>
                    State default VAT percent<br />
                    <i>Currently, the integration cannot resolve the NAV VAT price group and find the correct VAT on customers automatically</i>
                </td>
                <td>
                    &#x25a2; 25%<br />
                    &#x25a2; Other:
                </td>
            </tr>
            <tr>
                <td>Which existing customer would serve as template for new customer created from TimeLog?</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</article>