
<body>
   
    <div class="bs-docs-header" id="content">
        <div class="container">
            <h1>TimeLog Project Generic Financial Integration</h1>
        </div>
    </div>
    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-9" role="main">
                <div class="bs-docs-section">
                    <h1 id="overview" class="page-header">Visma Administration</h1>
                    <p class="lead">The Visma Administration implementation of the TimeLog Project generic financial integration supports the invoicing features of the integration.</p>
                    <h3 id="overview-intro">Introduction</h3>
                    <p>The Visma Administration integration supports the following features of the generic financial integration:</p>
                    <p><strong>Invoicing version:</strong></p>
                    <ul>
                        <li>Two-way synchronization of customers and contacts</li>
                        <li>Import of product numbers from Visma to TLP</li>
                        <li>Transfer of booked invoices from TLP to Visma</li>
                        <li>Automatic tracking of Visma invoice number and status from inside TLP</li>
                        <li>TLP Audit interface matching the individual invoice totals from Visma and TLP</li>
                        <li>Import expenses from Visma to TLP</li>
                    </ul>
                    <h3 id="overview-contactdetails">Contact details</h3>
                    <p>The Visma parts of the integration is developed by <a href="http://www.dpab.se/" target="_blank">DataPartner</a>.</p>
                    <p>Please contact TimeLog Support when in need for support.</p>
                    <p>Primary contact at DataPartner: André Viebke andre.viebke@dpab.se</p>
                </div>
                <div class="bs-docs-section">
                    <h1 id="features" class="page-header">Features</h1>
                    <p>This section includes a list of features and limitations to each transfer area of the integration.</p>
                    <h3 id="features-currencies">Currencies</h3>
                    <p>
                        Please be aware that currency factors (<strong>Arkiv</strong> > <strong>Inställningar</strong> > <strong>Valutakurser</strong>
                        > <strong>Enhet</strong>) should be setup for the integration and all changes to those in Visma Administration going forward
                        requires reconfiguration of the integration. The TimeLog Project default is 100.
                    </p>
                    <h3 id="features-customers">Customers</h3>
                    <p>Customers can be transferred to AND from TLP and Visma.</p>
                    <p>
                        Be aware when linking customers upon install that the TLP account manager connected to a customer is not automatically
                        transferred to Visma. Employees should be added manually in Visma under <strong>Arkiv</strong> > <strong>Inställningar</strong> > <strong>Företag</strong> > <strong>Referens</strong>. Make sure to add them as "Säljare".
                    </p>
                    <h3 id="features-contacts">Contact</h3>
                    <p>Contacts can be transferred to AND from TLP and Visma.</p>
                    <h3 id="features-productnumbers">Product numbers</h3>
                    <p>
                        Product numbers can only be transferred from Visma to TLP. Note that they are not transferred automatically. An system administrator will have to go to the
                        system administration > integrations and choose to import them manually.
                    </p>
                    <h3 id="features-employees">Employees</h3>
                    <p>Employees can be created automatically upon transfer of invoices. The employees is found in Visma under <strong>Arkiv</strong> > <strong>Inställningar</strong> > <strong>Företag</strong> > <strong>Referens</strong>.</p>
                    <h3 id="features-invoices">Invoices</h3>
                    <p>Only booked invoices can be transferred from TLP to Visma. Invoices are transferred as drafts. Changes in invoice drafts inside Visma will not be reflected in TLP.</p>
                    <h3 id="features-invoicelines">Invoice lines</h3>
                    <p>All invoice lines with text longer than 60 characters in TLP will automatically be word wrapped and broken down to one normal line and additional text lines in Visma.</p>
                    <p>
                        Only invoice lines with the type of "Product" in TLP will be transferred as invoice lines with amounts (if a rounding line exists this will also be transferred with amounts). Other
                        types will appear in Visma as text lines.
                    </p>
                    <h3 id="features-expenses">Expenses</h3>
                    <p>Expenses can only be transferred from Visma to TLP.</p>
                    <p>TLP notifies Visma if an expense is taken or deleted from the pool.</p>
                    <h3 id="features-projects">Projects</h3>
                    <p>Not part of the integration.</p>
                    <p>
                        If a project reference is added to an invoice in TLP, then the same project (number) must exist in Visma for the invoice to
                        transfer. The project needs to be created manually. When importing expenses from Visma to TLP, the project number reference in Visma
                        will be used by TLP to guess its relation, if none found the user will have to select it manually.
                    </p>
                    <h3 id="features-tasks">Tasks</h3>
                    <p>Not part of the integration.</p>
                    <h3 id="features-allocations">Allocations</h3>
                    <p>Not part of the integration.</p>
                    <h3 id="features-registrations">Registrations</h3>
                    <p>Not part of the integration.</p>
                </div>
                <div class="bs-docs-section">
                    <h1 id="mapping" class="page-header">Mapping</h1>
                    <p>This section contains the explicit mapping of fields between TLP and Visma.</p>
                    <h3 id="mapping-customers">Customers</h3>
                    <div class="bs-example">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-lg-3">TLP</th>
                                    <th class="col-lg-3">Visma</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Address</td>
                                    <td>CUSTOMER_MAILING_ADDRESS</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Address2</td>
                                    <td>CUSTOMER_MAILING_ADDRESS2</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Address3</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>BankAccountNo</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>CalculateVAT</td>
                                    <td>-</td>
                                    <td>Always true</td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>CUSTOMER_CITY</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>CountryISO</td>
                                    <td>CUSTOMER_CODE_OF_COUNTRY</td>
                                    <td>If empty, then "SE"</td>
                                </tr>
                                <tr>
                                    <td>Currency</td>
                                    <td>CUSTOMER_CODE_OF_CURRENCY</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>CustomerNo</td>
                                    <td>CUSTOMER_NUMBER</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>CustomerStatus</td>
                                    <td>-</td>
                                    <td>Gets default from financial host (DefaultCustomerStatus)</td>
                                </tr>
                                <tr>
                                    <td>DefaultDiscountPercent</td>
                                    <td>-</td>
                                    <td>Always 0</td>
                                </tr>
                                <tr>
                                    <td>EAN</td>
                                    <td>CUSTOMER_EANLOC</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>CUSTOMER_EMAIL</td>
                                    <td></td>
                                </tr>
                                <tr class="info">
                                    <td>ExternalKey</td>
                                    <td>CUSTOMER_NUMBER</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Fax</td>
                                    <td>CUSTOMER_FAX</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>GUID</td>
                                    <td>-</td>
                                    <td>Always a new guid</td>
                                </tr>
                                <tr>
                                    <td>IsOIOCustomer</td>
                                    <td>CUSTOMER_EU_CUSTOMER</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>KeyAccountManagerInitials</td>
                                    <td>CUSTOMER_SELLER</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Name</td>
                                    <td>CUSTOMER_NAME</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>CUSTOMER_TELEPHONE</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>State</td>
                                    <td>CUSTOMER_DISTRICT</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>VatNo</td>
                                    <td>CUSTOMER_VAT_NUMBER</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>VATPercent</td>
                                    <td>-</td>
                                    <td>Always 25%</td>
                                </tr>
                                <tr>
                                    <td>Website</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>ZipCode</td>
                                    <td>CUSTOMER_ZIPCODE</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3 id="mapping-contacts">Contact</h3>
                    <div class="bs-example">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-lg-3">TLP</th>
                                    <th class="col-lg-3">Visma</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Address</td>
                                    <td>CONTACTS_MAILING_ADDRESS</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Address2</td>
                                    <td>CONTACTS_MAILING_ADDRESS2</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Address3</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>CONTACTS_CITY</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Comments</td>
                                    <td>CONTACTS_NOTES</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>CountryISO</td>
                                    <td>CONTACTS_CODE_OF_COUNTRY</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>CustomerKey</td>
                                    <td>CONTACTS_CUSTOMER_NUMBER</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>EAN</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>CONTACTS_EMAIL</td>
                                    <td></td>
                                </tr>
                                <tr class="info">
                                    <td>ExternalKey</td>
                                    <td>CONTACTS_ID</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Fax</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>Firstname</td>
                                    <td>CONTACTS_NAME</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>GUID</td>
                                    <td>-</td>
                                    <td>Always a new guid</td>
                                </tr>
                                <tr>
                                    <td>IsOIOContact</td>
                                    <td>-</td>
                                    <td>Always false</td>
                                </tr>
                                <tr>
                                    <td>KeyAccountManagerInitials</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>Lastname</td>
                                    <td>CONTACTS_NAME</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Mobile</td>
                                    <td>CONTACTS_MOBILEPHONE</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>CONTACTS_TELEPHONE</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>State</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>Title</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>ZipCode</td>
                                    <td>CONTACTS_ZIP_CODE</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3 id="mapping-productnumbers">Product numbers</h3>
                    <div class="bs-example">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-lg-3">TLP</th>
                                    <th class="col-lg-3">Visma</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Description</td>
                                    <td>ARTICLE_NAME_X</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Name</td>
                                    <td>ARTICLE_NAME</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>ProductNo</td>
                                    <td>ARTICLE_NUMBER</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3 id="mapping-employees">Employees</h3>
                    <div class="bs-example">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-lg-3">TLP</th>
                                    <th class="col-lg-3">Visma</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Address</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>Address2</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>Address3</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>CountryISO</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr class="info">
                                    <td>ExternalKey</td>
                                    <td>Signature</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Firstname</td>
                                    <td>Name</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Initials</td>
                                    <td>Signature</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Lastname</td>
                                    <td>Name</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Mobile</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>State</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>Title</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr>
                                    <td>ZipCode</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3 id="mapping-invoices">Invoices</h3>
                    <div class="bs-example">

                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-lg-3">TLP</th>
                                    <th class="col-lg-3">Visma</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Amount</td>
                                    <td>OOI_HEAD_TOTAL_AMOUNT</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>CalculateVat</td>
                                    <td>-</td>
                                    <td>Always true</td>
                                </tr>
                                <tr>
                                    <td>ContactKey</td>
                                    <td>OOI_HEAD_CUSTOMER_REFERENCE_NAME</td>
                                    <td>[Referensperson hos kund]</td>
                                </tr>
                                <tr>
                                    <td>CurrencyISO</td>
                                    <td>OOI_HEAD_CURRENCY_CODE</td>
                                    <td>[Valutakod]</td>
                                </tr>
                                <tr>
                                    <td>CurrencyRate</td>
                                    <td>OOI_HEAD_CURRENCY_RATE</td>
                                    <td>[Valutakurs] Calculated with currency factor in the config</td>
                                </tr>
                                <tr>
                                    <td>CurrencyRateDate</td>
                                    <td>OOI_HEAD_DOCUMENT_DATE1</td>
                                    <td>[Fakturadatum]</td>
                                </tr>
                                <tr>
                                    <td>CustomerKey</td>
                                    <td>OOI_HEAD_CUSTOMER_NUMBER</td>
                                    <td>[Kundnummer] Truncated to 16 chars</td>
                                </tr>
                                <tr>
                                    <td>CustomersReference</td>
                                    <td>OOI_HEAD_ELECTRONIC_REFERENCE</td>
                                    <td>[Er elektroniska referens] Truncated to 35 chars</td>
                                </tr>
                                <tr>
                                    <td>DefaultDiscount</td>
                                    <td>-</td>
                                    <td>Always 0</td>
                                </tr>
                                <tr>
                                    <td>DefaultVATRate</td>
                                    <td>-</td>
                                    <td>Not used</td>
                                </tr>
                                <tr>
                                    <td>DueDate</td>
                                    <td>OOI_HEAD_DOCUMENT_DATE2</td>
                                    <td>[Förfallodatum]</td>
                                </tr>
                                <tr>
                                    <td>EAN</td>
                                    <td>OOI_HEAD_EANLOC</td>
                                    <td>[EAN-lokaliseringsnummer] Truncated to 13 chars</td>
                                </tr>
                                <tr>
                                    <td>ExternalInvoiceNo</td>
                                    <td>OOI_HEAD_DOCUMENT_NUMBER</td>
                                    <td></td>
                                </tr>
                                <tr class="info">
                                    <td>ExternalKey</td>
                                    <td>OOI_HEAD_DOCUMENT_NUMBER</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>FixedAttContactFullName</td>
                                    <td>OOI_HEAD_CUSTOMER_REFERENCE_NAME</td>
                                    <td>Truncated to 50 chars</td>
                                </tr>
                                <tr>
                                    <td>FixedAddress1</td>
                                    <td>OOI_HEAD_MAILING_ADDRESS1</td>
                                    <td>[Postadress] Truncated to 35 chars</td>
                                </tr>
                                <tr>
                                    <td>FixedAddress2</td>
                                    <td>OOI_HEAD_MAILING_ADDRESS2</td>
                                    <td>[Postadress, rad 2]Truncated to 35 chars</td>
                                </tr>
                                <tr>
                                    <td>FixedZipCode</td>
                                    <td>OOI_HEAD_ZIPCODE</td>
                                    <td>[Postnr] Truncated to 12 chars</td>
                                </tr>
                                <tr>
                                    <td>FixedCity</td>
                                    <td>OOI_HEAD_CITY</td>
                                    <td>[Ortsnamn] Truncated to 24 chars</td>
                                </tr>
                                <tr>
                                    <td>FixedCountryName</td>
                                    <td>-</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>FixedCountryISO</td>
                                    <td>OOI_HEAD_CODE_OF_COUNTRY</td>
                                    <td>[Landskod]</td>
                                </tr>
                                <tr>
                                    <td>FixedCustomerName</td>
                                    <td>OOI_HEAD_CUSTOMER_NAME</td>
                                    <td>[Kundnamn] Truncated to 50 chars</td>
                                </tr>
                                <tr>
                                    <td>GUID</td>
                                    <td>-</td>
                                    <td>Always new guid</td>
                                </tr>
                                <tr>
                                    <td>Header</td>
                                    <td>-</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>InternalNote</td>
                                    <td>OOI_HEAD_LOCAL_REMARK</td>
                                    <td>[Kommentar (tidigare benämnt Lokal anmärkning)] Truncated to 120 chars</td>
                                </tr>
                                <tr>
                                    <td>InternalReferenceInitials</td>
                                    <td>OOI_HEAD_OUR_REFERENCE_NAME</td>
                                    <td>[Dokumentnummer från löpnummerserie. Unikt. Anger offertnummer, ordernummer eller fakturanummer] Truncated to 25 chars</td>
                                </tr>
                                <tr>
                                    <td>InvoiceDate</td>
                                    <td>OOI_HEAD_DOCUMENT_DATE1</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>InvoiceNo</td>
                                    <td>OOI_HEAD_DOCUMENT_NUMBER</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>NetAmount</td>
                                    <td>OOI_HEAD_NET</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>ProjectNo</td>
                                    <td>OOI_HEAD_PROJECT_CODE</td>
                                    <td>[Kod för projekt. Projekt definieras i ett eget register] Truncated to 10 chars</td>
                                </tr>
                                <tr>
                                    <td>RequisitionNo</td>
                                    <td>OOI_HEAD_CUSTOMER_ORDER_NUMBER</td>
                                    <td>[Kundens ordernr] Truncated to 25 chars</td>
                                </tr>
                                <tr>
                                    <td>RoundingFraction</td>
                                    <td>-</td>
                                    <td>Always 0</td>
                                </tr>
                                <tr>
                                    <td>State</td>
                                    <td>-</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3 id="mapping-invoicelines">Invoice lines</h3>
                    <div class="bs-example">

                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-lg-3">TLP</th>
                                    <th class="col-lg-3">Visma</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Amount</td>
                                    <td>-</td>
                                    <td>Calculated</td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td>OOI_ROW_TEXT</td>
                                    <td>Word wrapped by 60 characters</td>
                                </tr>
                                <tr>
                                    <td>InvoiceKey</td>
                                    <td>-</td>
                                    <td>Implicit</td>
                                </tr>
                                <tr>
                                    <td>Discount</td>
                                    <td>OOI_ROW_DISCOUNT</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>SortOrder</td>
                                    <td>-</td>
                                    <td>Not used</td>
                                </tr>
                                <tr>
                                    <td>ProductNo</td>
                                    <td>OOI_ROW_ARTICLE_NUMBER</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Quantity</td>
                                    <td>OOI_ROW_QUANTITY_ORDERED</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Date</td>
                                    <td>-</td>
                                    <td>Not used</td>
                                </tr>
                                <tr>
                                    <td>InvoiceLineTypes</td>
                                    <td>OOI_ROW_TYPE_OF_ROW</td>
                                    <td>Not a direct relation! Maps to Visma values</td>
                                </tr>
                                <tr>
                                    <td>InvoiceUnitType</td>
                                    <td>OOI_ROW_UNIT</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Rate</td>
                                    <td>OOI_ROW_PRICE_EACH_CURRENT_CURRENCY</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>VAT</td>
                                    <td>-</td>
                                    <td>Based on invoice</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3 id="mapping-expenses">Expenses</h3>
                    <div class="bs-example">

                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-lg-3">TLP</th>
                                    <th class="col-lg-3">Visma</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>AccountNumber</td>
                                    <td>SUP_INV_HEAD_SUPPLIER_NUMBER</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Comment</td>
                                    <td>PREFIX_CUSTOMER_NUMBER</td>
                                    <td>Additional text fields will be appended as well</td>
                                </tr>
                                <tr>
                                    <td>CostCurrencyIncludingVAT</td>
                                    <td>SUP_INV_HEAD_TOTAL</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>CurrencyISO</td>
                                    <td>SUP_INV_HEAD_CURRENCY_CODE</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>CurrencyRate</td>
                                    <td>SUP_INV_HEAD_CURRENCY_RATE</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>CustomerKey</td>
                                    <td>SUP_INV_HEAD_CUSTOMER_NUMBER</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>EmployeeInitials</td>
                                    <td>-</td>
                                    <td>Always empty</td>
                                </tr>
                                <tr class="info">
                                    <td>ExternalKey</td>
                                    <td>SUP_INV_HEAD_GIVEN_NUMBER</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>InvoiceNo</td>
                                    <td>SUP_INV_HEAD_INVOICE_NUMBER</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>No</td>
                                    <td>SUP_INV_HEAD_GIVEN_NUMBER</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>PaymentMethod</td>
                                    <td>-</td>
                                    <td>Always 0 and will choose TLP default</td>
                                </tr>
                                <tr>
                                    <td>ProductNo</td>
                                    <td>SUP_INV_HEAD_INVOICE_NUMBER</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>ProjectNo</td>
                                    <td>SUP_INV_HEAD_PROJECT</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>PurchaseDate</td>
                                    <td>SUP_INV_HEAD_INVOICE_DATE</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>RegAmount</td>
                                    <td>SUP_INV_HEAD_TOTAL</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>VATCurrency</td>
                                    <td>SUP_INV_HEAD_VAT_AMOUNT</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3 id="mapping-projects">Projects</h3>
                    <p>Not part of the Visma integration.</p>
                    <h3 id="mapping-tasks">Tasks</h3>
                    <p>Not part of the Visma integration.</p>
                    <h3 id="mapping-allocations">Allocations</h3>
                    <p>Not part of the Visma integration.</p>
                    <h3 id="mapping-registrations">Registrations</h3>
                    <p>Not part of the Visma integration.</p>
                </div>
                <div class="bs-docs-section">
                    <h1 id="tech" class="page-header">Technical details</h1>
                    <p>No additional details.</p>
                    <h3 id="tech-licenses">Visma licenses</h3>
                    <p>
                        The integration requires Visma Administration 500 and above, and requires an active Visma Integration
                        subscription and user licenses for each user in Visma. Get more information about your licensing needs
                        from your normal Visma partner - or contact us to direct you to our preferred partner.
                    </p>
                    <h3 id="tech-errormessages">Visma error messages</h3>
                    <p>
                        These error messages might appear in the <strong>Integration log</strong> (under Reports in TimeLog Project).
                        Please refer to the solutions before contacting TimeLog Support. If you cannot resolve it yourselves, please
                        in contact with us.
                    </p>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th class="col-lg-3">TLP</th>
                                <th class="col-lg-3">Visma</th>
                                <th>Solution</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>GenericFinancialInvoiceSaveFailed</td>
                                <td>Kan ej hitta angiven landskod.</td>
                                <td>
                                    Please make sure that the country associated with the TimeLog Project customer is created
                                    in Visma Administration (<strong>Arkiv</strong> > <strong>Länder</strong>). Please note
                                    that TimeLog Project is using <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">
                                        two letter ISO codes
                                    </a> for reference.
                                </td>
                            </tr>
                            <tr>
                                <td>GenericFinancialCustomerSaveFailed</td>
                                <td>Kan ej hitta angiven säljare.</td>
                                <td>
                                    Please make sure that the employee set as internal reference for the TimeLog Project customer
                                    is created as sales person in Visma Administration (<strong>Arkiv</strong> > <strong>
                                        Företagsinstälningar
                                    </strong> > <strong>Företag</strong> > <strong>Referens/Attest</strong>). Please note
                                    that TimeLog Project is using the initials for reference.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bs-docs-sidebar hidden-print" role="complementary">
                    <ul class="nav bs-docs-sidenav">
                        <li class="active">
                            <a href="#overview">Visma Administration</a>
                            <ul class="nav">
                                <li><a href="#overview-intro">Introduction</a></li>
                                <li><a href="#overview-contactdetails">Contact details</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#features">Features</a>
                            <ul class="nav">
                                <li><a href="#features-currencies">Currencies</a></li>
                                <li><a href="#features-customers">Customers</a></li>
                                <li><a href="#features-contacts">Contact</a></li>
                                <li><a href="#features-productnumbers">Product numbers</a></li>
                                <li><a href="#features-employees">Employees</a></li>
                                <li><a href="#features-invoices">Invoices</a></li>
                                <li><a href="#features-invoicelines">Invoice lines</a></li>
                                <li><a href="#features-expenses">Expenses</a></li>
                                <li><a href="#features-projects">Projects</a></li>
                                <li><a href="#features-tasks">Tasks</a></li>
                                <li><a href="#features-allocations">Allocations</a></li>
                                <li><a href="#features-registrations">Registrations</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#mapping">Mapping</a>
                            <ul class="nav">
                                <li><a href="#mapping-customers">Customers</a></li>
                                <li><a href="#mapping-contacts">Contact</a></li>
                                <li><a href="#mapping-productnumbers">Product numbers</a></li>
                                <li><a href="#mapping-employees">Employees</a></li>
                                <li><a href="#mapping-invoices">Invoices</a></li>
                                <li><a href="#mapping-invoicelines">Invoice lines</a></li>
                                <li><a href="#mapping-expenses">Expenses</a></li>
                                <li><a href="#mapping-projects">Projects</a></li>
                                <li><a href="#mapping-tasks">Tasks</a></li>
                                <li><a href="#mapping-allocations">Allocations</a></li>
                                <li><a href="#mapping-registrations">Registrations</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#tech">Technical details</a>
                            <ul class="nav">
                                <li><a href="#tech-licenses">Visma licenses</a></li>
                                <li><a href="#tech-errormessages">Visma error message</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="back-to-top" href="#top">Back to top </a>
                </div>
            </div>
        </div>
    </div>
    <footer class="bs-docs-footer" role="contentinfo">
        <div class="container">
            <p>Code licensed to <a href="http://www.timelog.com" target="_blank">TimeLog A/S</a>, documentation under copyright.</p>
        </div>
    </footer>
    <script src="Scripts/jquery-2.1.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/docs.min.js"></script>
</body>
