<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_SecurityService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ProjectManagementService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ICRMService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_SalaryService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_InvoicingService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ExpenseService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_OrganisationService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_OrganisationService1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ExpenseService1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ICRMService1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_HelpDeskService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_HelpDeskService1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ICRMService2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://app1.timelog.com/coltest/WebServices/Security/V1_2/SecurityServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SecurityService"
                contract="SecurityService.SecurityService" name="BasicHttpBinding_SecurityService" />
            <endpoint address="https://app1.timelog.com/coltest/WebServices/Salary/V1_0/SalaryServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SalaryService"
                contract="SalaryService.SalaryService" name="BasicHttpBinding_SalaryService" />
            <endpoint address="https://app1.timelog.com/coltest/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ExpenseService"
                contract="ExpenseService.ExpenseService" name="BasicHttpBinding_ExpenseService" />
            <endpoint address="https://app1.timelog.com/coltest/WebServices/Organisation/V1_5/OrganisationServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_OrganisationService"
                contract="OrganisationService.OrganisationService" name="BasicHttpBinding_OrganisationService" />
            <endpoint address="https://app4.timelog.com/soxdemo4/WebServices/Organisation/V1_5/OrganisationServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_OrganisationService1"
                contract="OrganisationService.OrganisationService" name="BasicHttpBinding_OrganisationService1" />
            <endpoint address="https://app4.timelog.com/soxdemo4/WebServices/Invoicing/V1_0/InvoicingServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_InvoicingService"
                contract="InvoicingService.InvoicingService" name="BasicHttpBinding_InvoicingService" />
            <endpoint address="https://app4.timelog.com/soxdemo4/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ExpenseService1"
                contract="ExpenseService.ExpenseService" name="BasicHttpBinding_ExpenseService1" />
            <endpoint address="https://app4.timelog.com/soxdemo4/WebServices/ProjectManagement/V1_6/ProjectManagementServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ProjectManagementService"
                contract="ProjectManagementService.ProjectManagementService"
                name="BasicHttpBinding_ProjectManagementService" />
            <endpoint address="https://app4.timelog.com/soxdemo4/WebServices/HelpDesk/V1_6/HelpDeskServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_HelpDeskService"
                contract="HelpDeskService.HelpDeskService" name="BasicHttpBinding_HelpDeskService" />
            <endpoint address="https://app4.timelog.com/soxdemo4/WebServices/HelpDesk/V1_6/HelpDeskServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_HelpDeskService1"
                contract="HelpDeskService.HelpDeskService" name="BasicHttpBinding_HelpDeskService1" />
            <endpoint address="http://localhost/TimeLog.TLP.Web/WebServices/CRM/V1_4/CRMService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICRMService2"
                contract="CrmService.ICRMService" name="BasicHttpBinding_ICRMService" />
        </client>
    </system.serviceModel>
</configuration>