<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_SecurityService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ProjectManagementService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ICRMService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://app3.timelog.com/soxdemo/WebServices/Security/V1_2/SecurityServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SecurityService"
                contract="SecurityService.SecurityService" name="BasicHttpBinding_SecurityService" />
            <endpoint address="https://app3.timelog.com/soxdemo/WebServices/ProjectManagement/V1_6/ProjectManagementServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ProjectManagementService"
                contract="ProjectManagementService.ProjectManagementService"
                name="BasicHttpBinding_ProjectManagementService" />
            <endpoint address="https://app3.timelog.com/soxdemo/WebServices/CRM/V1_2/CRMServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICRMService"
                contract="CrmService.ICRMService" name="BasicHttpBinding_ICRMService" />
        </client>
    </system.serviceModel>
</configuration>