<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://app8.timelog.com/610patchreference/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="TimeLog.ReportingAPI.SDK.ReportingService.ServiceSoap"
                name="ServiceSoap" />
            <endpoint address="https://app8.timelog.com/610patchreference/service.asmx"
                binding="customBinding" bindingConfiguration="ServiceSoap12"
                contract="TimeLog.ReportingAPI.SDK.ReportingService.ServiceSoap"
                name="ServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>