<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
	    <bindings>
      <basicHttpBinding>
       <binding name="BasicHttpBinding_ICRMService">
        <security mode="Transport" />
       </binding>
       <binding name="BasicHttpBinding_ExpenseService">
        <security mode="Transport" />
       </binding>
       <binding name="BasicHttpBinding_FinancialService">
        <security mode="Transport" />
       </binding>
       <binding name="BasicHttpBinding_HelpDeskService">
        <security mode="Transport" />
       </binding>
       <binding name="BasicHttpBinding_InvoicingService">
        <security mode="Transport" />
       </binding>
       <binding name="BasicHttpBinding_OrganisationService">
        <security mode="Transport" />
       </binding>
       <binding name="BasicHttpBinding_ProjectManagementService">
        <security mode="Transport" />
       </binding>
       <binding name="BasicHttpBinding_SalaryService">
        <security mode="Transport" />
       </binding>
       <binding name="BasicHttpBinding_SecurityService">
        <security mode="Transport" />
       </binding>
       <binding name="BasicHttpBinding_TimeTrackingService">
        <security mode="Transport" />
       </binding>
      </basicHttpBinding>
     </bindings>
        <client>
            <endpoint address="https://app8.timelog.com/610patchreference/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ExpenseService"
                contract="ExpenseService.ExpenseService" name="BasicHttpBinding_ExpenseService" />
            <endpoint address="https://app8.timelog.com/610patchreference/WebServices/Financial/V1_2/FinancialServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FinancialService"
                contract="FinancialService.FinancialService" name="BasicHttpBinding_FinancialService" />
            <endpoint address="https://app8.timelog.com/610patchreference/WebServices/HelpDesk/V1_6/HelpDeskServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_HelpDeskService"
                contract="HelpDeskService.HelpDeskService" name="BasicHttpBinding_HelpDeskService" />
            <endpoint address="https://app8.timelog.com/610patchreference/WebServices/Invoicing/V1_1/InvoicingServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_InvoicingService"
                contract="InvoicingService.InvoicingService" name="BasicHttpBinding_InvoicingService" />
            <endpoint address="https://app8.timelog.com/610patchreference/WebServices/Organisation/V1_7/OrganisationServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_OrganisationService"
                contract="OrganisationService.OrganisationService" name="BasicHttpBinding_OrganisationService" />
            <endpoint address="https://app8.timelog.com/610patchreference/WebServices/ProjectManagement/V1_7/ProjectManagementServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ProjectManagementService"
                contract="ProjectManagementService.ProjectManagementService"
                name="BasicHttpBinding_ProjectManagementService" />
            <endpoint address="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SalaryService"
                contract="SalaryService.SalaryService" name="BasicHttpBinding_SalaryService" />
            <endpoint address="https://app8.timelog.com/610patchreference/WebServices/Security/V1_2/SecurityServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SecurityService"
                contract="SecurityService.SecurityService" name="BasicHttpBinding_SecurityService" />
            <endpoint address="https://app8.timelog.com/610patchreference/WebServices/Registration/V1_0/TimeTrackingServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_TimeTrackingService"
                contract="TimeTrackingService.TimeTrackingService" name="BasicHttpBinding_TimeTrackingService" />
            <endpoint address="https://app8.timelog.com/610patchreference/WebServices/CRM/V1_4/CRMServiceSecure.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICRMService"
                contract="CRMService.ICRMService" name="BasicHttpBinding_ICRMService" />
        </client>
    </system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
