<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
                <binding name="ServiceSoap1" />
                <binding name="ServiceSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap3" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ServiceSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/tlp/service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="ReportingService.ServiceSoap"
                name="ServiceSoap" />
            <endpoint address="http://localhost/tlp/service.asmx" binding="customBinding"
                bindingConfiguration="ServiceSoap12" contract="ReportingService.ServiceSoap"
                name="ServiceSoap12" />
            <endpoint address="https://app5.timelog.com/mercuri/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap2"
                contract="ReportingService.ServiceSoap" name="ServiceSoap1" />
            <endpoint address="https://app5.timelog.com/mercuri/service.asmx"
                binding="customBinding" bindingConfiguration="ServiceSoap121"
                contract="ReportingService.ServiceSoap" name="ServiceSoap121" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
