<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="ServiceSoap1"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpsTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://app4.timelog.com/soxdemo4/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="ReportingService.ServiceSoap" name="ServiceSoap"/>
            <endpoint address="https://app4.timelog.com/soxdemo4/service.asmx" binding="customBinding" bindingConfiguration="ServiceSoap12" contract="ReportingService.ServiceSoap" name="ServiceSoap12"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
