<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Base information-->
        <add key="TimeLogProjectUri" value="https://app5.timelog.com/mercuri/service.asmx?wsdl" />
        <add key="TimeLogProjectOperationTimeoutSeconds" value="600" />
        <add key="TimeLogProjectMaxReceivedMessageSize" value="102400000" />
        <!-- Transactional API only -->
        <add key="TimeLogProjectTransactionalUsername" value="johndoe" />
        <add key="TimeLogProjectTransactionalPassword" value="johndoe" />
        <!-- Reporting API only-->
        <add key="TimeLogProjectReportingSiteCode" value="" />
        <add key="TimeLogProjectReportingApiId" value="" />
        <add key="TimeLogProjectReportingApiPassword" value="" />
        <!-- For debug purposes only -->
        <add key="TimeLogProjectRawTokenInitials" value="" />
        <add key="TimeLogProjectRawTokenHash" value="" />
        <add key="TimeLogProjectRawTokenExpires" value="" />
    </appSettings>
</configuration>