<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Base information-->
        <add key="TimeLogProjectUri" value="http://localhost/timelog" />
        <add key="TimeLogProjectOperationTimeoutSeconds" value="600" />
        <add key="TimeLogProjectMaxReceivedMessageSize" value="1024000" />
        <!-- Transactional API only -->
        <add key="TimeLogProjectTransactionalUsername" value="johndoe" />
        <add key="TimeLogProjectTransactionalPassword" value="johndoe" />
        <!-- Reporting API only-->
        <add key="TimeLogProjectReportingSiteCode" value="1234567890abcdefghjklasc3" />
        <add key="TimeLogProjectReportingApiId" value="timelog" />
        <add key="TimeLogProjectReportingApiPassword" value="timelog" />
        <!-- For debug purposes only -->
        <add key="TimeLogProjectRawTokenInitials" value="" />
        <add key="TimeLogProjectRawTokenHash" value="" />
        <add key="TimeLogProjectRawTokenExpires" value="" />
    </appSettings>
</configuration>