<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Base information-->
        <add key="TimeLogProjectUri" value="http://localhost/timelog" />
        <add key="TimeLogProjectOperationTimeoutSeconds" value="600" />
        <add key="TimeLogProjectMaxReceivedMessageSize" value="1024000" />
        <!-- Transactional API only -->
        <add key="TimeLogProjectTransactionalUsername" value="psu" />
        <add key="TimeLogProjectTransactionalPassword" value="psu" />
        <!-- Reporting API only-->
        <add key="TimeLogProjectReportingSiteCode" value="5a7316feba8343d6b4204874f" />
        <add key="TimeLogProjectReportingApiId" value="timelog" />
        <add key="TimeLogProjectReportingApiPassword" value="timelog" />
        <!-- For debug purposes only -->
        <add key="TimeLogProjectRawTokenInitials" value="" />
        <add key="TimeLogProjectRawTokenHash" value="" />
        <add key="TimeLogProjectRawTokenExpires" value="" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <!-- system.serviceModel section is not supported on .NET 6 (see https://devblogs.microsoft.com/dotnet/migrating-a-sample-wpf-app-to-net-core-3-part-2/#updating-wcf-client-usage)-->
    <!--<system.serviceModel>
  <bindings />
  <client />
</system.serviceModel>-->
</configuration>