<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Base information-->
    <add key="TimeLogProjectUri" value="https://app4.timelog.com/soxdemo"/>
    <add key="TimeLogProjectOperationTimeoutSeconds" value="60"/>
    <add key="TimeLogProjectMaxReceivedMessageSize" value="1024000"/>
    <!-- Transactional API only -->
    <add key="TimeLogProjectTransactionalUsername" value="test"/>
    <add key="TimeLogProjectTransactionalPassword" value="test"/>
    <!-- Reporting API only-->
    <add key="TimeLogProjectReportingSiteCode" value="test"/>
    <add key="TimeLogProjectReportingApiId" value="test"/>
    <add key="TimeLogProjectReportingApiPassword" value="test"/>
    <!-- For debug purposes only -->
    <add key="TimeLogProjectRawTokenInitials" value="" />
    <add key="TimeLogProjectRawTokenHash" value="" />
    <add key="TimeLogProjectRawTokenExpires" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>