<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TimeLogProjectUri" value="https://app3.timelog.com/soxdemo"/>
    <add key="TimeLogProjectTransactionalUsername" value="test"/>
    <add key="TimeLogProjectTransactionalPassword" value="test"/>
    <add key="TimeLogProjectReportingSiteCode" value="test"/>
    <add key="TimeLogProjectReportingApiId" value="test"/>
    <add key="TimeLogProjectReportingApiPassword" value="test"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>