<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Base information-->
    <add key="TimeLogProjectUri" value="http://localhost/timelog"/>
    <add key="TimeLogProjectOperationTimeoutSeconds" value="600"/>
    <add key="TimeLogProjectMaxReceivedMessageSize" value="1024000"/>
    <!-- Transactional API only -->
    <add key="TimeLogProjectTransactionalUsername" value="psu"/>
    <add key="TimeLogProjectTransactionalPassword" value="psu"/>
    <!-- Reporting API only-->
    <add key="TimeLogProjectReportingSiteCode" value="test"/>
    <add key="TimeLogProjectReportingApiId" value="test"/>
    <add key="TimeLogProjectReportingApiPassword" value="test"/>
    <!-- For debug purposes only -->
    <add key="TimeLogProjectRawTokenInitials" value=""/>
    <add key="TimeLogProjectRawTokenHash" value=""/>
    <add key="TimeLogProjectRawTokenExpires" value=""/>
    <!-- Used in CreateProjectForCustomersInSql.cs -->
    <add key="CreateProjectForCustomersInSql.ConnectionString" value="Initial Catalog=oldsystem; Data Source=127.0.0.1;User ID = sa; PASSWORD = secret"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
