
@{
    ViewBag.Title = "Contact";
}

<article class="article">

    <h1>Get in touch</h1>
    <h2>
        We are always interested in hearing from customers and partners that are or
        want to be using one or more of the TimeLog Project APIs.
    </h2>
    <p>
        Please be aware that TimeLog has multiple entries to support. Questions regarding
        functionality of TimeLog Project in general, work flows, reports etc. should be
        directed to our normal end-user support channel using
        <a href="mailto:support@timelog.com">support@timelog.com</a>.
    </p>
    <p>
        Bugs should always be directed to
        <a href="mailto:support@timelog.com">support@timelog.com</a>.
    </p>
    <p>
        For questions directly associated with the API, security, data types and methods
        can go directly to our expert contacts to the right.
    </p>
    <p>
        <em>
            Note however, TimeLog may on an extensive number of requests from individuals or organizations require
            a charge on additional assistance.
        </em>
    </p>

</article>
@section sidebar
{
    <div class="box theme gray">
        <img class="" src="@Url.Content("~/Content/Images/sox.png")" alt="Søren Øxenhave" title="Søren Øxenhave">
        <div class="box__content ">
            <h5>Søren Øxenhave</h5>
            <h6>
                API &amp; Solution Architect
            </h6>
            <ul class="list-squashed">
                <li class="icon-envelope">
                    <a href="mailto:sox@timelog.dk">
                        sox@timelog.dk
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="box theme gray">
        <img class="" src="@Url.Content("~/Content/Images/chl.png")" alt="Christoffer Lanstorp" title="Christoffer Lanstorp">
        <div class="box__content ">
            <h5>Christoffer Lanstorp</h5>
            <h6>
                Head of IT & Development
            </h6>
            <ul class="list-squashed">
                <li class="icon-envelope">
                    <a href="mailto:chl@timelog.dk">
                        chl@timelog.dk
                    </a>
                </li>
            </ul>
        </div>
    </div>
}

