@{
    ViewBag.Title = "DataModel";
}
<article class="article">
    <h1>TimeLog Data Model</h1>
    <h2>
        Get a quick overview on the various data structures and their relations
        in TimeLog.
    </h2>
    <p>
        Please note that additional data structures do exist, but for simplicity only those closely
        related to the understanding of the API is included at this point.
    </p>
    <p style="text-align: center;">
        <object style="margin-top: 20px; margin-left: 40px; width: 100%;" type="image/svg+xml" data="@Url.Content("~/Content/TimeLog Data Model.svg")">Your browser does not support SVG</object>
    </p>
</article>