@{
    ViewBag.Title = "Introduction";
}
<article class="article">

    <h1>Welcome!</h1>
    <h2>
        Together with TimeLog you get several possibilities of accessing your data via APIs.
        This website will introduce each of them and let you know how to get started.
    </h2>
    <p>
        TimeLog A/S provides programmatic access to your organization’s TimeLog (TLP) site
        through a simple and secure API (application programming interface). The API is programmed
        with the target of integration and development of extensions of TLP with external add-ons. It focuses
        on providing access to the core objects of TLP. This website will explain how to access and use the
        API and what data you can access, insert and modify through the current versions. To use this API,
        you should have a basic familiarity with software development, web services, and the TLP user interface.
    </p>
    <h2>3 Flavors of Access</h2>
    <p>
        Due to varying requirements of working with your data, TimeLog currently have three
        difference API interfaces:
    </p>
    <ul class="arrows">
        <li>
            <strong>Transactional API</strong> - Use the transactional API for transferring data to
            and from TimeLog to keep other systems in sync or automatically push updates to
            TimeLog. @Html.ActionLink("Read more", "Index", "Transactional")
        </li>
        <li>
            <strong>Reporting API</strong> - Use the reporting API to fetch big data sets from TimeLog
            Project for use in third party reporting systems. @Html.ActionLink("Read more", "Index", "Reporting")
        </li>
        <li>
            <strong>File Services API</strong> - Use the file services API to fetch files automatically
            that normally only are available for users inside TimeLog. @Html.ActionLink("Read more", "Index", "FileServices")
        </li>
    </ul>
    <h2>One More Thing</h2>
    <p>
        You may also find the TimeLog SDK useful. It allows easy access to the various APIs
        and it also contains various working examples for various situations.
    </p>
    <p>
        <a href="https://github.com/TimeLog/TimeLogApiSdk">View and download the SDK bits from GitHub</a>.
    </p>
    <p>
        If you want to be automatically updated on enhancements and changes on the different API-services, then
        you can be notified by creating a profile at GitHub and press “Watch” in the upper right corner. Then you
        get a newsfeed where you can see every time we have worked on the API.
    </p>
    <ul class="arrows">
        <li>
            <strong>TimeLog.Api.Documentation</strong> - Track the documentation changes of this website using the commit log on GitHub
        </li>
        <li>
            <strong>TimeLog.ApiConsoleApp</strong> - Provides some simple examples on how to utilize the reporting and
            transactional API SDKs
        </li>
        <li>
            <strong>TimeLog.JavaScript.SDK</strong> - A time registration only SDK for JavaScript and a Chrome Extension sample
        </li>
        <li>
            <strong>TimeLog.ReportingApi.Exporter</strong> - A console application to export XML or CSV from the reporting API
            without the need to code a single line
        </li>
        <li>
            <strong>TimeLog.ReportingApi.SDK</strong> - The reporting API SDK source code in the case you need to dig a bit deeper
        </li>
        <li>
            <strong>TimeLog.TransactionalApi.SDK</strong> - The transactional API SDK source code in the case you need to
            know the details
        </li>
    </ul>
</article>
@section sidebar
{
    <div class="box pink" style="">
        <h4 class="box__header box__header--no-arrow theme-background primary gray">
            Want to know more about TimeLog?
        </h4>
        <div class="box__content ">
            <p>Visit our <a href="http://www.timelog.com">website</a> and learn more about us. Try the system for free or get a quick presentation!</p>
        </div>
    </div>

    <div class="box theme gray">
        <h4 class="box__header theme-background primary gray">
            <blockquote>You can maximize the value you get from TimeLog by automating processes, reporting and connecting it to other business systems using the available APIs.</blockquote>
        </h4>
        <img class="" src="@Url.Content("~/Content/Images/sox.png")" alt="Søren Øxenhave" title="Søren Øxenhave">
        <div class="box__content ">
            <h5>Søren Øxenhave</h5>
            <h6>
                Tech Lead,
                <a href="http://www.timelog.com">
                    TimeLog A/S
                </a>
            </h6>
            <ul class="list-squashed">
                <li class="icon-envelope">
                    <a href="mailto:support@timelog.dk">
                        support@timelog.dk
                    </a>
                </li>
            </ul>

            <div class="multipurpose-content theme-list primary">
                <p>For API specific questions please get in touch with our primary support channel.</p>
            </div>
        </div>
    </div>
}

