@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome!</h1>
<h2>
    Together with TimeLog you get several possibilities of accessing your data via APIs.
    This website will introduce each of them and let you know how to get started.
</h2>
<p>
    TimeLog A/S provides programmatic access to your organization’s TimeLog (TLP) site
    through a simple and secure API (application programming interface). The API is programmed
    with the target of integration and development of extensions of TLP with external add-ons. It focuses
    on providing access to the core objects of TLP. This website will explain how to access and use the
    API and what data you can access, insert and modify through the current versions. To use this API,
    you should have a basic familiarity with software development, web services, and the TLP user interface.
</p>
<h2 id="3-flavors-of-access">
    <a href="#3-flavors-of-access">3 Flavors of Access</a>
</h2>
<p>
    Due to varying requirements of working with your data, TimeLog currently have three
    difference API interfaces:
</p>
<ul class="arrows">
    <li>
        <strong>REST API</strong> - Use for employee-centered actions.
        Reading and writing data is available for selected data types.
        Employee-specific-token only. @Html.ActionLink("Read more", "Index", "Rest")
    </li>
    <li>
        <strong>Transactional API</strong> - Use the transactional API for transferring data to
        and from TimeLog to keep other systems in sync or automatically push updates to
        TimeLog. Reading and writing data is available for selected data types.
        Server-to-server employee user only. @Html.ActionLink("Read more", "Index", "Transactional")
    </li>
    <li>
        <strong>Reporting API</strong> - Use the reporting API to fetch big data sets from TimeLog.
        Only read-access is available. Server-to-server service user only. @Html.ActionLink("Read more", "Index", "Reporting")
    </li>
</ul>
<h2>One More Thing</h2>
<p>
    You may also find the TimeLog SDK useful. It allows easy access to the various APIs
    and it also contains various working examples for various situations.
</p>
<p>
    <a href="https://github.com/TimeLog/TimeLogApiSdk">View and download the SDK bits from GitHub</a>.
</p>
<p>
    If you want to be automatically updated on enhancements and changes on the different API-services, then
    you can be notified by creating a profile at GitHub and press “Watch” in the upper right corner. Then you
    get a newsfeed where you can see every time we have worked on the API.
</p>
<ul class="arrows">
    <li>
        <strong>TimeLog.Api.Documentation</strong> - Track the documentation changes of this website using the commit log on GitHub
    </li>
    <li>
        <strong>TimeLog.ApiConsoleApp</strong> - Provides some simple examples on how to utilize the reporting and
        transactional API SDKs
    </li>
    <li>
        <strong>TimeLog.ReportingApi.Exporter</strong> - A console application to export XML or CSV from the reporting API
        without the need to code a single line
    </li>
    <li>
        <strong>TimeLog.ReportingApi.SDK</strong> - The reporting API SDK source code in the case you need to dig a bit deeper
    </li>
    <li>
        <strong>TimeLog.TransactionalApi.SDK</strong> - The transactional API SDK source code in the case you need to
        know the details
    </li>
</ul>