
@{
    ViewBag.Title = "Restrictions";
}
<article class="article">

    <h1>Restrictions</h1>
    <h2>
        The APIs are available for all our customers to suppliment the normal TimeLog Project UI
    </h2>
    <p>
        
    </p>
    <p>
        TimeLog is monitoring usage patterns of the API in order to ensure an equal share of performance
        for all our customers. We encourage everyone using our API to get in touch with us about
        best practise and performance question.
    </p>
</article>


