@{
    ViewBag.Title = "Restrictions";
}
<article class="article">

    <h1>Restrictions</h1>
    <h2>
        The APIs are available for all our customers to supplement the normal TimeLog UI.
    </h2>
    <p>
        TimeLog is monitoring usage patterns of the API in order to ensure an equal share of performance
        for all our customers. We are currently not enforcing any strict API usage policies for each 
        TimeLog site. Partners and customers doing interactions with one or more of the APIs is 
        required to consider to use decent frequency patterns and reasonably request busts etc. We 
        encourage everyone using our API to get in touch with us about best practice and performance question.
    </p>
    <h2>
        Change policy
    </h2>
    <p>
        TimeLog reserve the right to silently add new methods and properties to all of the APIs, but will in
        some cases announce it as part of our release notes. TimeLog will announce breaking changes related to
        changing or deletion of existing fields and methods (incl. changes to method signatures) in the APIs.
    </p>
</article>
