@{
    ViewBag.Title = "Financial Integrations - Preinstall document for the NAV partner";
}
<article class="article">
    <h1>Preinstall document for the NAV partner</h1>
    <h2>
        This document outlines the requirements and information necessary for TimeLog to carry out the install
        and configuration of the FinancialHost middleware in the best and fastest possible way.
    </h2>
    <p>This document should be prefilled by personel of the NAV partner of the customer.</p>
    @*<ul class="arrows">
            <li><a href="#">Download this page as a Word document</a></li>
        </ul>*@
    <table style="width: 100%;" class="setting_table">
        <colgroup>
            <col style="width: 70%" />
            <col />
        </colgroup>
        <tbody>
            <tr class="tablespacer">
                <td>Contact details</td>
                <td></td>
            </tr>
            <tr>
                <td>Primary NAV contact during install (name, title, phone and email)</td>
                <td></td>
            </tr>
            <tr>
                <td>Primary NAV contact for maintenance (name, title, phone and email)</td>
                <td></td>
            </tr>
            <tr>
                <td>Contact information to existing NAV partner</td>
                <td></td>
            </tr>
            <tr class="tablespacer">
                <td>Production Environment</td>
                <td></td>
            </tr>
            <tr>
                <td>Install NAV Client and add desktop shortcut</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>Install NAV Development Environment and add desktop shortcut</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>Install NAV Administration and add desktop shortcut</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>State NAV server name</td>
                <td></td>
            </tr>
            <tr>
                <td>State NAV database name</td>
                <td></td>
            </tr>
            <tr>
                <td>State username and password for NAV database user</td>
                <td></td>
            </tr>
            <tr>
                <td>Add db_owner database membership to NAV database user (if we are importing the integration objects)</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>Add the TimeLog domain user as a NAV user</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>Verify all three NAV clients (Client, Development Environment and Administration) open and data is available</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr class="tablespacer">
                <td>Staging Environment</td>
                <td></td>
            </tr>
            <tr>
                <td>Is a staging/test environment required?</td>
                <td>&#x25a2; Yes &#x25a2; No</td>
            </tr>
            <tr>
                <td>- Install NAV Client and add desktop shortcut</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>- Install NAV Development Environment and add desktop shortcut</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>- Install NAV Administration and add desktop shortcut</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>- State NAV server name</td>
                <td></td>
            </tr>
            <tr>
                <td>- State NAV database name</td>
                <td></td>
            </tr>
            <tr>
                <td>- State username and password for NAV database user</td>
                <td></td>
            </tr>
            <tr>
                <td>- Add db_owner database membership to NAV database user</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>- Add the TimeLog domain user as a NAV user</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>- Verify all three NAV clients (Client, Development Environment and Administration) open and data is available</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr class="tablespacer">
                <td>Navision details</td>
                <td></td>
            </tr>
            <tr>
                <td>Adjusted NAV object licenses (<a href="#objectlicensing">See table</a>)</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>State any issues with the required security access (<a href="#securityaccess">See table</a>)</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>State any issues with the required customizations in the standard NAV objects (<a href="#customizations">See table</a>)</td>
                <td>&#x25a2; Done</td>
            </tr>
            <tr>
                <td>State the default invoice line type used in NAV</td>
                <td>&#x25a2; G/L Account<br />&#x25a2; Item</td>
            </tr>
            <tr>
                <td>State the usage for Global Dimension 1</td>
                <td>
                    &#x25a2; Department<br />
                    &#x25a2; Project<br />
                    &#x25a2; Other:
                </td>
            </tr>
            <tr>
                <td>State the usage for Global Dimension 2</td>
                <td>
                    &#x25a2; Department<br />
                    &#x25a2; Project<br />
                    &#x25a2; Other:
                </td>
            </tr>
            <tr>
                <td>Is document sending profiles enabled on customers?</td>
                <td>&#x25a2; Yes &#x25a2; No</td>
            </tr>
            <tr>
                <td>How many debtors exist?</td>
                <td></td>
            </tr>
            <tr>
                <td>How many contacts exist?</td>
                <td></td>
            </tr>
            <tr>
                <td>How many product numbers exist?</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <h3 id="objectlicensing">Required Object Licencing</h3>
    <table style="width: 100%;" class="setting_table">
        <thead>
            <tr>
                <th style="width: 10%">Type</th>
                <th style="width: 20%">ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Table</td>
                <td>50500</td>
                <td>TimeLog Setup</td>
            </tr>
            <tr>
                <td>Table</td>
                <td>50501</td>
                <td>TimeLog Change Log</td>
            </tr>
            <tr>
                <td>Table</td>
                <td>50510</td>
                <td>TimeLog Expense List</td>
            </tr>
            <tr>
                <td>Table</td>
                <td>50511</td>
                <td>TimeLog Expense Entry</td>
            </tr>
            <tr>
                <td>Form</td>
                <td>50500</td>
                <td>TimeLog Setup</td>
            </tr>
            <tr>
                <td>Codeunit</td>
                <td>50500</td>
                <td>Tlp Functions WS</td>
            </tr>
            <tr>
                <td>Codeunit</td>
                <td>50501</td>
                <td>Tlp Change Handler</td>
            </tr>
            <tr>
                <td>Codeunit</td>
                <td>50502</td>
                <td>Tlp Change Management</td>
            </tr>
            <tr>
                <td>Codeunit</td>
                <td>50503</td>
                <td>Tlp Expense Management</td>
            </tr>
            <tr>
                <td>Page</td>
                <td>50500</td>
                <td>TlpProductNumber WS</td>
            </tr>
            <tr>
                <td>Page</td>
                <td>50501</td>
                <td>TlpContact WS</td>
            </tr>
            <tr>
                <td>Page</td>
                <td>50502</td>
                <td>TlpCustomer WS</td>
            </tr>
            <tr>
                <td>Page</td>
                <td>50504</td>
                <td>TlpExpense WS</td>
            </tr>
            <tr>
                <td>Page</td>
                <td>50505</td>
                <td>TlpInvoiceHeader WS</td>
            </tr>
            <tr>
                <td>Page</td>
                <td>50506</td>
                <td>TlpInvoiceLine WS</td>
            </tr>
            <tr>
                <td>Page</td>
                <td>50507</td>
                <td>TlpPostedInvoiceHeader WS</td>
            </tr>
            <tr>
                <td>Page</td>
                <td>50508</td>
                <td>TlpPostedInvoiceLine WS</td>
            </tr>
            <tr>
                <td>Page</td>
                <td>50509</td>
                <td>TlpPostedCrMemoHeader WS</td>
            </tr>
            <tr>
                <td>Page</td>
                <td>50510</td>
                <td>TlpPostedCrMemoLine WS</td>
            </tr>
            <tr>
                <td>Page</td>
                <td>50511</td>
                <td>TlpCustomerContact WS</td>
            </tr>
            <tr>
                <td>Page</td>
                <td>50512</td>
                <td>TlpSalesPerson WS</td>
            </tr>
            <tr>
                <td>Page</td>
                <td>50515</td>
                <td>TlpSetup</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Page</td>
                <td>50516</td>
                <td>TlpChangeLog</td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Page</td>
                <td>50517</td>
                <td>TlpJob WS</td>
                <td class="text-center"></td>
            </tr>
        </tbody>
    </table>
    <h3 id="securityaccess">Required Table Security Access</h3>
    <table style="width: 100%;" class="setting_table">
        <thead>
            <tr>
                <th style="width: 10%">Table No</th>
                <th style="width: 20%">Object type</th>
                <th style="width: 10%" class="text-center">Read</th>
                <th style="width: 10%" class="text-center">Write</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>9</td>
                <td>Country/Region</td>
                <td class="text-center">&#10004;</td>
                <td class="text-center">&#10004;</td>
                <td></td>
            </tr>
            <tr>
                <td>13</td>
                <td>Salesperson/Purchaser</td>
                <td class="text-center">&#10004;</td>
                <td class="text-center">&#10004;</td>
                <td></td>
            </tr>
            <tr>
                <td>17</td>
                <td>G/L Entry</td>
                <td class="text-center">&#10004;</td>
                <td class="text-center"></td>
                <td></td>
            </tr>
            <tr>
                <td>18</td>
                <td>Customer</td>
                <td class="text-center">&#10004;</td>
                <td class="text-center">&#10004;</td>
                <td></td>
            </tr>
            <tr>
                <td>25</td>
                <td>Vendor Ledger Entry</td>
                <td class="text-center">&#10004;</td>
                <td class="text-center"></td>
                <td></td>
            </tr>
            <tr>
                <td>27</td>
                <td>Item</td>
                <td class="text-center">&#10004;</td>
                <td class="text-center"></td>
                <td></td>
            </tr>
            <tr>
                <td>36</td>
                <td>Sales Header</td>
                <td class="text-center">&#10004;</td>
                <td class="text-center">&#10004;</td>
                <td></td>
            </tr>
            <tr>
                <td>37</td>
                <td>Sales Line</td>
                <td class="text-center">&#10004;</td>
                <td class="text-center">&#10004;</td>
                <td></td>
            </tr>
            <tr>
                <td>98</td>
                <td>General Ledger Setup</td>
                <td class="text-center">&#10004;</td>
                <td class="text-center"></td>
                <td></td>
            </tr>
            <tr>
                <td>156</td>
                <td>Resource</td>
                <td class="text-center">&#10004;</td>
                <td class="text-center"></td>
                <td></td>
            </tr>
            <tr>
                <td>225</td>
                <td>Post Code</td>
                <td class="text-center">&#10004;</td>
                <td class="text-center">&#10004;</td>
                <td></td>
            </tr>
            <tr>
                <td>5050</td>
                <td>Contact</td>
                <td class="text-center">&#10004;</td>
                <td class="text-center">&#10004;</td>
                <td></td>
            </tr>
            <tr>
                <td>5200</td>
                <td>Employee</td>
                <td class="text-center">&#10004;</td>
                <td class="text-center">&#10004;</td>
                <td></td>
            </tr>
            <tr>
                <td>5600</td>
                <td>Fixed Asset</td>
                <td class="text-center">&#10004;</td>
                <td class="text-center">&#10004;</td>
                <td></td>
            </tr>
            <tr>
                <td>5800</td>
                <td>Item Charge</td>
                <td class="text-center">&#10004;</td>
                <td class="text-center">&#10004;</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <h3 id="customizations">Required Customizations in Standard Objects</h3>
    <table style="width: 100%;" class="setting_table">
        <thead>
            <tr>
                <th style="width: 10%">Table No</th>
                <th style="width: 20%">Object type</th>
                <th>Change</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>18</td>
                <td>Customer</td>
                <td>2 new global variables, 1 new function, 1 additional line on OnInsert and OnModify</td>
            </tr>
            <tr>
                <td>36</td>
                <td>Sales Header</td>
                <td>2 new global variables, 1 new function, 1 additional line on OnInsert and OnModify</td>
            </tr>
            <tr>
                <td>37</td>
                <td>Sales Line</td>
                <td>2 new global variables, 1 new function, 1 additional line on OnInsert and OnModify</td>
            </tr>
            <tr>
                <td>5050</td>
                <td>Contact</td>
                <td>2 new global variables, 1 new function, 1 additional line on OnInsert and OnModify</td>
            </tr>
            <tr>
                <td>5200</td>
                <td>Employee</td>
                <td>2 new global variables, 1 new function, 1 additional line on OnInsert and OnModify</td>
            </tr>
        </tbody>
    </table>
</article>