<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TimeLogProjectUri" value="http://app3.timelog.com/carve"/>
    <add key="TimeLogProjectReportingSiteCode" value="9a8505df906e47509aa2f544c"/>
    <add key="TimeLogProjectReportingApiId" value="carveuser"/>
    <add key="TimeLogProjectReportingApiPassword" value="MySecretPassword"/>
    <add key="CsvSeparator" value=","/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
